<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>TPM</title>
    <style type="text/css">
    .boxLabel
	{
		    background-color: #3c8dbc;
		    color:white;
		    border: 1px solid green;
	}
	.boxElement
	{
		    border: 1px solid green;
	}
    @media only screen and (max-width: 800px) {
        /* Force table to not be like tables anymore */
        #no-more-tables table,
        #no-more-tables thead,
        #no-more-tables tbody,
        #no-more-tables th,
        #no-more-tables td,
        #no-more-tables tr {
        display: block;
        }
         
        /* Hide table headers (but not display: none;, for accessibility) */
        #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
        }
         
        #no-more-tables tr { border: 1px solid #ccc; }
          
        #no-more-tables td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
        }
         
        #no-more-tables td:before {
        /* Now like a table header */
        background-color: #3c8dbc;
	    color:white;
        position: absolute;
        /* Top/left values mimic padding */
        /* top: 6px; */
        left: 6px;
        width: 45%;
        /* padding-right: 10px; */
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
        padding:5px;
        }
         
        /*
        Label the data
        */
        #no-more-tables td:before { content: attr(data-title); }
        }
    </style>
</head>
<body>
<section layout:fragment="header">
    <h1>TPM</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Tpm</a></li>
        <li class="active">Report</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Report</h3>
            <div class="box-tools pull-right">
                <a href="/tpm/list" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
            </div>
        </div>
        <form data-toggle="validator" role="form"  th:object="${reqDto}" th:action="@{/tpm/saveDetails}" method="post" name="myForm" id="myForm">
            <div class="box-body">
            	<input hidden="hidden" th:field="*{reqHeader.id}">
            	<input hidden="hidden" th:field="*{reqHeader.erhDistrubutor}">
            	<input hidden="hidden" th:field="*{reqHeader.erhConductedOn}" th:value="*{#dates.format(reqHeader.erhConductedOn, 'dd/MM/yyyy')}">
            <div class=row>	
              <label class="col-lg-2 control-label">User Name</label>
              <div class="col-lg-4 inputGroupContainer">
                 <div class="input-group"><span th:text="*{reqHeader.id}"></span></div>
              </div>
              <label class="col-lg-2 control-label">Distributor Code</label>
              <div class="col-lg-4 inputGroupContainer">
                 <div class="input-group"><span th:text="*{reqHeader.erhDistrubutor}"></span></div>
              </div>
              </div>
               <div class=row>
              <label class="col-lg-2 control-label">Date of TPM</label>
              <div class="col-lg-4 inputGroupContainer">
                 <div class="input-group"><span th:text="*{#dates.format(reqHeader.erhConductedOn, 'dd/MM/yyyy')}"></span></div>
              </div>
              <label class="col-lg-2 control-label">COST INCURED (F&B and others);</label>
              <div class="col-lg-4 inputGroupContainer">
                 <div class="input-group"><span class="input-group-addon"><i class="fa fa-rupee"></i></span><input th:field="*{reqHeader.erhCostIncured}"  placeholder="" class="form-control validate[required]"  type="number"></div>
              </div>
           </div>
      <div id="no-more-tables">
                    <table class="col-sm-12 table-bordered table-condensed cf">
                    <thead class="cf">
                	<tr>
                		<th>Material</th>
                		<th>Approved Qty</th>
                	</tr>
                	</thead>
                	<tbody> 
                	 <tr th:if="*{ezReqMatList.empty}">
            			<td colspan="2"> No Data </td>
       			   </tr>
                	<tr th:each="row, itemStat : *{ezReqMatList}">
						<td data-title="Material">
							<input hidden="hidden" th:field="*{ezReqMatList[__${itemStat.index}__].matCode}">
							<input hidden="hidden" th:field="*{ezReqMatList[__${itemStat.index}__].matDesc}">
							<span th:text="*{ezReqMatList[__${itemStat.index}__].matCode+'-'+ezReqMatList[__${itemStat.index}__].matDesc}"></span>
						</td>
						<td data-title="Approved Qty">
							<input hidden="hidden" th:field="*{ezReqMatList[__${itemStat.index}__].apprQty}">
							<span th:text="*{ezReqMatList[__${itemStat.index}__].apprQty}"></span>
						</td>
                	</tr>
                	</tbody>
                </table>
                </div>
    			<div class="input-group">
                <textarea cols=100 class="form-control" th:field="*{recordedText}" id="note-textarea" placeholder="click on speak icon to start voice recognition." rows="6"></textarea>
                
                	<span class="input-group-addon btn-group-vertical">
					  <button type="button" class="btn btn-success" id="start-record-btn"><i class="fa fa-microphone" id="start-record-btn"></i>&nbsp;&nbsp;Record</button>
					  <button type="button" class="btn btn-danger" id="pause-record-btn"><i class="fa fa-pause"></i>&nbsp;&nbsp;Pause</button>
					  <button type="button" class="btn btn-warning" onclick="javascript:readOutLoud()" data-toggle="modal" data-target="#recordModal"><i class="fa fa-play"></i>&nbsp;&nbsp;Sample</button>
					</span>
                
                </div>
                <p id="recording-instructions"></p>
                
                <!-- <i id="start-record-btn" class="fa fa-microphone" style="color: white;padding: 10px;background: #87bf54;border-radius: 50%;"></i>
                <i id="pause-record-btn" class="fa fa-pause" style="color: white;padding: 10px;background: #de8d5d;border-radius: 50%;"></i>
                <button type="button" onclick="javascript:readOutLoud()" data-toggle="modal" data-target="#recordModal" class="btn btn-warning"><i class="fa fa-play"></i>&nbsp;Sample Voice Format</button> -->
    			<div id="no-more-tables">
                    <table class="col-sm-12 table-bordered table-condensed cf">
                    <thead class="cf">
                	<tr>
                		<th>Name Of Plumber</th>
                		<th>Contact No</th>
                		<th>D.O.B</th>
                		<th>D.O.A</th>
                		<th></th>
                	</tr>
                	</thead>
                	<tbody>
                	 <tr th:if="${reqDto.ezcRequestItems.empty}">
            			<td colspan="2"> No Items Added </td>
       			   </tr>
                	<tr th:each="row, itemStat : ${reqDto.ezcRequestItems}">
						<td data-title="Name Of Plumber"><input type="text"  class="form-control validate[required]" th:field="${reqDto.ezcRequestItems[__${itemStat.index}__].eriPlumberName}" /></td>
						<td data-title="Contact No"><input type="text"  class="form-control validate[required]" th:field="${reqDto.ezcRequestItems[__${itemStat.index}__].eriContact}" /></td>
						<td data-title="D.O.B">
							<div class="input-group date">
							<div class="input-group-addon">
							<i class="fa fa-calendar"></i>
							</div>
							<input type="text" class="datePickObj form-control pull-right" th:field="${reqDto.ezcRequestItems[__${itemStat.index}__].eriDob}">
							</div>
						</td>
						<td data-title="D.O.A">
							<div class="input-group date">
							<div class="input-group-addon">
							<i class="fa fa-calendar"></i>
							</div>
							<input type="text"  class="datePickObj form-control pull-right" th:field="${reqDto.ezcRequestItems[__${itemStat.index}__].eriDoa}">
							</div>
						</td>
                		<td data-title="">
                			<i class="fa fa-trash deleteItem"></i>
                		</td>
                	</tr>
                	</tbody>
                </table>
                </div>
            </div>
            <div class="box-footer">
                <button type="button" onclick="addNewItem()" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                <button type="button" onclick="addItem()" class="btn btn-primary"><i class="fa fa-arrow-circle-right"></i>&nbsp;Process Voice Data</button>
                <button type="button" onclick="onSaveClick()"  class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;Save</button>
            </div>
        </form>
    </div>
        <div class="modal fade" id="recordModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Audio Format</h4>
              </div>
              <div class="modal-body">
	        	<span id="sampleTxt">Kiran 9290303030 12th august 1980 26th august 2015 next Rahim 9790303030 26th august 1986 26th august 2009</span>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
</div>
<div layout:fragment="scriptContent">
<script type="text/javascript">

 $('.datePickObj').datepicker({
      autoclose: true,
      format: 'dd/mm/yyyy'
    });
    $('.deleteItem').click(function(){
    	$(this).closest("tr").remove();
    });
     				
    function onSaveClick()
    {
		if($("#myForm").validationEngine('validate'))
		{
		
			document.myForm.submit();
		}

    }
    function readOutLoud() {
     	var message = $("#sampleTxt").text();
    	var speech = new SpeechSynthesisUtterance();

      // Set the text and voice attributes.
    	speech.text = message;
    	speech.volume = 1;
    	speech.rate = 1;
    	speech.pitch = 1;
      
    	window.speechSynthesis.speak(speech); 
    }
    function addItem()
    {
	 	document.myForm.action ="/tpm/processSpeech";
	 	document.myForm.submit();
    }
	 function addNewItem()
	 {
		 	document.myForm.action ="/tpm/addNewItem";
		 	document.myForm.submit();
	 }
 
 try {
	  var SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
	  var recognition = new SpeechRecognition();
	}
	catch(e) {
	  console.error(e);
	  $('.no-browser-support').show();
	  $('.app').hide();
	}


	var noteTextarea = $('#note-textarea');
	var instructions = $('#recording-instructions');

	var noteContent = '';

	/*-----------------------------
	      Voice Recognition 
	------------------------------*/

	// If false, the recording will stop after a few seconds of silence.
	// When true, the silence period is longer (about 15 seconds),
	// allowing us to keep recording even when the user pauses. 
	recognition.continuous = true;

	// This block is called every time the Speech APi captures a line. 
	recognition.onresult = function(event) {

	  // event is a SpeechRecognitionEvent object.
	  // It holds all the lines we have captured so far. 
	  // We only need the current one.
	  var current = event.resultIndex;

	  // Get a transcript of what was said.
	  var transcript = event.results[current][0].transcript;

	  // Add the current transcript to the contents of our Note.
	  // There is a weird bug on mobile, where everything is repeated twice.
	  // There is no official solution so far so we have to handle an edge case.
	  var mobileRepeatBug = (current == 1 && transcript == event.results[0][0].transcript);

	  if(!mobileRepeatBug) {
	    noteContent += transcript;
	    noteTextarea.val(noteContent);
	  }
	};

	recognition.onstart = function() { 
	  instructions.text('Voice recognition activated. Try speaking into the microphone.');
	}

	recognition.onspeechend = function() {
	  instructions.text('You were quiet for a while so voice recognition turned itself off.');
	}

	recognition.onerror = function(event) {
	  if(event.error == 'no-speech') {
	    instructions.text('No speech was detected. Try again.');  
	  };
	}



	/*-----------------------------
	      App buttons and input 
	------------------------------*/

	$('#start-record-btn').on('click', function(e) {
	  if (noteContent.length) {
	    noteContent += ' ';
	  }
	  recognition.start();
	});


	$('#pause-record-btn').on('click', function(e) {
	  recognition.stop();
	  instructions.text('Voice recognition paused.');
	});

	// Sync the text inside the text area with the noteContent variable.
	noteTextarea.on('input', function() {
	  noteContent = $(this).val();
	})

 

	</script>
</div>
</body>
</html>