<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>TPM</title>
</head>
<body>
<section layout:fragment="header">
    <h1>TPM</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> TPM</a></li>
        <li class="active">Create</li>
    </ol>
</section>
<div layout:fragment="content">
	<div th:if="${success!= null}" class="alert alert-success alert-dismissible">
   			<i class="icon fa fa-check"></i>
   			<span th:text="${success}" ></span>
   	</div>
    <div class="box">
    	     <form data-toggle="validator" role="form" th:object="${tpmRequestDto}" th:action="@{/tpm/saveRequest}" method="post">
            <div class="box-body">
                <div class="form-group">
                    <label for="erhDistrubutor">Distributor</label>
                      <select class="form-control select2" th:field="*{erhDistrubutor}" id="erhDistrubutor">
						<option selected value="">---select distributor---</option>
						<option th:value="1001-RKAgencies" th:text="1001-RKAgencies"></option>
						<option th:value="1002-MythriDistributor" th:text="1002-MythriDistributor"></option>
						<option th:value="1003-KRDistributor" th:text="1003-KRDistributor"></option>
						<option th:value="1004-GKDistributor" th:text="1004-MythriDistributor"></option>
						<option th:value="1005-FTDistributor" th:text="1005-FTDistributor"></option>
	                </select>
                </div>
                <div class="form-group">
                    <label for="erhCity">City</label>
                    <input type="text" required="true" class="form-control" th:field="*{erhCity}" id="erhCity" />
                </div>
                <div class="form-group">
                    <label for="erhConductedOn">Conducted On</label>
					    <div class="input-group date">
					  <div class="input-group-addon">
					    <i class="fa fa-calendar"></i>
					  </div>
					  <input type="text" required="true" class="form-control pull-right" th:field="*{erhConductedOn}" id="erhConductedOn">
					</div>
                </div>
                <div class="form-group">
                    <label for="erhNoOfAttendee">Attendance</label>
                    <input type="number" required="true" class="form-control" th:field="*{erhNoOfAttendee}" id="erhNoOfAttendee" />
                </div>
                <div class="form-group">
                    <label for="erhInstructions">Instructions</label>
                    <textarea required="true" class="form-control" th:field="*{erhInstructions}" id="erhInstructions"></textarea>
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>&nbsp;Save</button>
            </div>
        </form>
    </div>
</div>
<div layout:fragment="scriptContent">
<script type="text/javascript">
 $('#erhConductedOn').datepicker({
      autoclose: true,
      format: 'dd/mm/yyyy'
    })
    $(function () {
		$('.select2').select2()
	 });
   </script>
</div>
</body>
</html>