<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>TPM List</title>
    <style type="text/css">
    #rejectModal {
    width: 50%;
    height: 40%;
    margin-left: 35%;
    padding: 0;
}
#apprModal {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    padding: 0;
}
.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}
.group
{
	/* background: #eeeeee; */
}
#nullifyModal {
	z-index: 1080 !important;
}
    </style>
</head>
<body>
<section layout:fragment="header">
    <h1>TPM List</h1>
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> TPM</a></li>
    <li class="active">List</li>
</ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-body no-padding">
        
 <form role="form"  th:object="${listSelector}" th:action="@{/tpm/tpmRequestList/}" method="get" name="myForm">
 <div class="table-responsive hidden-xs">
<table class="table table-striped" style="margin-bottom: 1%;">
  <tbody><tr>  
	<td>
		<label>From Date:</label>
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right datepicker" th:field="*{fromDate}">
                </div>
                <!-- /.input group -->
	</td>
	<td>
                <label>To Date:</label>
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right datepicker" th:field="*{toDate}">
                </div>
                <!-- /.input group -->
  	</td>
  	<td>	
  		 <label for="listType">Status</label><br>	
		  <div class="input-group">
			 <select class="form-control input-sm"  th:field="*{status}">  
				<option value="" th:selected="*{status==''}">All</option>
				<option value="NEW" th:selected="*{status=='NEW'}">New</option>
				<option value="SUBMITTED" th:selected="*{status=='SUBMITTED'}">Submitted</option>
				<option value="APPROVED" th:selected="*{status=='APPROVED'}">Approved</option> 
			 </select>
		  </div>
  	</td>
 
  	<td>
  		<button type="submit" class="btn btn-primary pull-right"  style="margin-right: 5px;">Go <i class="fa fa-paper-plane"></i></button>
  	</td>
  </tr>
  
  </tbody></table>
  </div>
  </form>
  <div class="table-responsive">
                   <table id="example" class="table  table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                       <thead>			
                <tr>
                    <th>ID</th>
                    <th>Month</th>
                    <th>Requested By</th>
                    <th>Distributor</th>
                    <th>Distributor Name</th>
                    <th>City</th>
                    <th>Status</th>
                    <!-- <th>Total Attendance</th> -->
                    <th></th>
                    <th>Meet</th>
                    <th>Meet Date</th>
                    <th>Instructions</th>
                    <th>Attendance</th>
                    <th>Dealer Name</th>
                    <th></th>
                </tr>
                    </thead>
           		<tbody>	
                <tr th:each="row : ${reqList}">
                    <td><a th:href="${'/tpm/addDetails/' + {row[0]}}" th:text="${row[1]+'-'+row[0]}"></a></td>
                    <td th:text="${#dates.format(row[2], 'MM/yyyy')}"></td>
                    <td th:text="${row[3]+'['+row[4]+']'}"></td>
                    <td th:text="${row[5]}"></td>
                    <td th:text="${row[6]}"></td>
                    <td th:text="${row[7]}"></td>
                    <!-- <td th:text="${row[8]}"></td> -->
                    <td th:text="${row[9]}"></td>
                    <td>
                    	<span sec:authorize="hasRole('ADMIN')"  th:if="${row[9] == 'NEW'}" style="float:right">
							<a href="#"
							th:data-id="${row[0]}"
							onclick="javascript:openModal('approve',this.getAttribute('data-id'))"
							class="btn btn-success btn-xs"> <span
								class="glyphicon glyphicon-ok">APPROVE</span>
							</a>
							<a href="#"
							th:data-id="${row[0]}"
							onclick="javascript:openModal('reject',this.getAttribute('data-id'))"
							class="btn btn-danger btn-xs"> <span
								class="glyphicon glyphicon-ok">REJECT</span>
							</a>
						</span>
                    </td>
                    <td th:text="${row[10]}"></td>
                    <td th:text="${#dates.format(row[11], 'dd/MM/yyyy')}"></td>
                    <td th:text="${row[12]}"></td>
                    <td th:text="${row[13]}"></td>
                    <td th:text="${row[14]}"></td>
                    <td>
                    
                    	<span sec:authorize="hasAnyRole('ROLE_REQ_CR','ROLE_ST_HEAD')" th:if="${row[9] == 'APPROVED' && row[15] != 'COMPLETED' && listSelector.getStatus() == 'APPROVED'}">
                    	
							<a th:href="${'/tpm/addDetails/' + {row[0]}+'/'+{row[10]}}"
							class="btn btn-success btn-xs"> <span class="glyphicon glyphicon-ok">SUBMIT</span>
							</a>
						</span>
								
                    </td>
                    <!-- <td th:text="${row.erhDistrubutor}"></td>
                    <td th:text="${row.erhCity}"></td>
                    <td th:text="${row.erhRequestedBy}"></td>
                    <td th:text="${#dates.format(row.erhConductedOn, 'dd/MM/yyyy')}"></td>
                    <td th:text="${row.erhNoOfAttendee}"></td>
                    <td th:text="${row.erhStatus}"></td>
                    <td>
                    	<span sec:authorize="hasRole('ROLE_REQ_CR')" th:if="${row.erhStatus == 'APPROVED'}">
							<a th:href="${'/tpm/addDetails/' + {row.id}}"
							class="btn btn-success btn-xs"> <span
								class="glyphicon glyphicon-ok">SUBMIT</span>
							</a>
						</span>
						<span sec:authorize="hasRole('ADMIN')" th:if="${row.erhStatus == 'NEW'}">
							<a href="#"
							th:data-id="${row.id}"
							onclick="javascript:openModal('approve',this.getAttribute('data-id'))"
							class="btn btn-success btn-xs"> <span
								class="glyphicon glyphicon-ok">APPROVE</span>
							</a>
							<a href="#"
							th:data-id="${row.id}"
							onclick="javascript:openModal('reject',this.getAttribute('data-id'))"
							class="btn btn-danger btn-xs"> <span
								class="glyphicon glyphicon-ok">REJECT</span>
							</a>
						</span>
						
                    </td> -->
                </tr>
            	</tbody>
            </table>
            </div>
        </div>
    </div>
    <div th:fragment="appr-tpm" id="apprTPMModalHolder"></div>
    <div th:fragment="rej-tpm" id="rejTPMModalHolder"></div>
    <div class="modal" id="nullifyModal" tabindex="-1" role="dialog" aria-labelledby="nullifyModal-title" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
          <h4 class="modal-title" id="nullifyModal-title">Nullify Quantity</h4>
        </div>
        <div class="modal-body">
          <form role="form" id="nullifyForm">
            <input type="hidden" name="leftOverId" id="leftOverId">
            <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
            <div class="form-group">
             <label for="matNullify">Material</label>
             <span id="matNullify"></span>
             </div>
             <div class="form-group">
             <label for="reason">Quantity</label>
             <span id="qtyNullify"></span>
             </div>
            <div class="form-group">
              <label for="reasonNullify">Select Reason</label>
                   <select class="form-control validate[required]" name="reasonNullify" id="reasonNullify" placeholder="select reason">
						<option value="Scrapped or Theft">Scrapped or Theft</option>
						<option value="Gifted To Trade Partner">Gifted To Trade Partner</option>
						<option value="Self Consumed">Self Consumed</option>
	                </select>
            </div>
            <div class="form-group">
              <label for="comments">Comments</label>
               <textarea  class="form-control validate[required]" name="commentsNullify" id="commentsNullify"></textarea>
            </div>
            <button type="button"  class="btn btn-default" data-dismiss="modal">Cancel</button>
			<button type="button" class="btn btn-primary" onclick="postNullifyData()">Submit</button>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
    
</div>
<div layout:fragment="scriptContent">

<script type="text/javascript">
function geThan(field, rules, i, options){
	 var a=rules[i+2];
	 if( parseFloat(field.val()) > parseFloat( jQuery("#"+a).val() )){
	   return "Quantity entered is greater than available stock"
	 }
	}
function openModal(modelType,distId){
	
	if(modelType === "approve"){
		
		
		$.ajax({
			url: "/modal/appr-tpm/" + distId,
			success: function(data){
				$("#apprTPMModalHolder").html(data);
				$("#success-alert").hide();
				//alert($("#attendee").val());
				//alert($("#leftOverStk").val());
				/*if($("#leftOverStk").val()>$("#attendee").val())
				{
					$("#AvaForAtt").fadeTo(2000, 500).slideUp(500, function(){
				
					    $("#AvaForAtt").slideUp(1000);
					});
				}	*/
				$('#apprTPMModal').modal({
					backdrop: 'static'
					
				});
				index=$('#tpmReqTable tr').length;;
				$('#tpmReqTable').hide();
				$("#addMatRow").click(function(){
						if($("#appr-tpm-form").validationEngine('validate'))
						{
							var desc = $("#selMat").val().split("#")[0]+"-"+$("#selMat").val().split("#")[1];
							$('#tpmReqTable').show();
							$('#tpmReqTable tr:last').after('<tr><td><input type="hidden" class="apprMat" name="apprMat" value="'+$("#selMat").val()+'">'+desc+'</td><td><input type="hidden" name="apprQty" id="apprQty'+index+'" value="'+$("#selQty").val()+'">'+$("#selQty").val()+'</td><td><i class="fa fa-trash deleteItem"></i></td></tr>');
							$('.deleteItem').click(function(){
						    	$(this).closest("tr").remove();
						    });
						}
					});
				/*
				$('#selMat').select2({
			         placeholder: 'Select Material',
			         ajax: {
			           url: '/modal/mat-autocomp?type=text',
			           dataType: 'json',
			           delay: 250,
			           processResults: function (data) {
			             return {
	 	    	                       results: $.map(data, function (item) {
	 	    	                          return {
	 	    	                              text: item.materialCode+"-"+item.materialDesc,
	 	    	                              id: item.materialCode+"#"+item.materialDesc+"#"+item.quantity
	 	    	                          }
	 	    	                      }) 
			 	                  };
			           },
			           cache: true
			         }
			    });
				*/
			}
		});
		
	}
	else
	{
		$.ajax({
			url: "/modal/rej-tpm/" + distId,
			success: function(data){
				$("#rejTPMModalHolder").html(data);
				$('#rejTPMModal').modal({
					backdrop: 'static'
				});
				
				
			}
		});
	
		
		
		
		
	}	
}
$(document.body).on("change","#selMat",function(){
	// alert(this.value);
	var totVal=this.value;
	var stkAvaQty=totVal.split("#")[2];
	document.getElementById("stkAva").value=stkAvaQty;
	});
$(document).ready(function() {
		
	  
    $('.datepicker').datepicker({
    	 autoclose: true,
         format: 'dd/mm/yyyy'
    });
	
	
    /* $('#example').DataTable({
					
		"dom": 'T<"clear">lfrtip'
	
		}
			
	); */
    $(document).ready(function() {
        var groupColumn = 0;
        var table = $('#example').DataTable({
            "columnDefs": [
                { "visible": false, "targets": [0,1,2,3,4,5,6,7] }
            ],
            "order": [
            	[ groupColumn, 'asc' ]
            ],
            "displayLength": 25,
            "drawCallback": function ( settings ) {
                var api = this.api();
                var rows = api.rows( {page:'current'} ).nodes();
                var last=null;
     
                api.column(groupColumn, {page:'current'} ).data().each( function ( group, i ) {
                    if ( last !== group ) {
                        $(rows).eq( i ).before(
                            '<tr class="group"><td colspan="5"><strong>Request Id</strong> : '+this.rows(rows[i]._DT_RowIndex).data()[0][0]+'&nbsp;<strong>Month</strong> : '+this.rows(rows[i]._DT_RowIndex).data()[0][1]+'&nbsp;<strong>Requested By</strong> : '+this.rows(rows[i]._DT_RowIndex).data()[0][2]+'&nbsp;<strong>Distributor</strong> : '+this.rows(rows[i]._DT_RowIndex).data()[0][3]+'&nbsp;<strong>Name</strong> : '+this.rows(rows[i]._DT_RowIndex).data()[0][4]+'&nbsp;<strong>City</strong> : '+this.rows(rows[i]._DT_RowIndex).data()[0][5]+'&nbsp;<strong>Status</strong> : '+this.rows(rows[i]._DT_RowIndex).data()[0][6]+'<br>'+this.rows(rows[i]._DT_RowIndex).data()[0][7]+'</td></tr>'
                        );
     
                        last = group;
                    }
                } );
            }
        } );
     
        // Order by the grouping
        $('#example tbody').on( 'click', 'tr.group', function () {
            var currentOrder = table.order()[0];
            if ( currentOrder[0] === groupColumn && currentOrder[1] === 'asc' ) {
                table.order( [ groupColumn, 'desc' ] ).draw();
            }
            else {
                table.order( [ groupColumn, 'asc' ] ).draw();
            }
        } );
        $('#example').removeClass('dtr-inline collapsed');

    } );
	 
});
function checkQty()
{
	var rowCount = $('#tpmReqTable tr').length;
	var addedVal=0;
	for(var r=1;r<rowCount;r++)
	{
		//alert($("#apprQty"+r).val())
		addedVal=addedVal+$("#apprQty"+r).val();
	}
	
	var leftOverStk=parseInt($("#leftOverStk").val());
	var attendee=parseInt($("#attendee").val());
	
	if(leftOverStk>attendee)
	{
		remainVal=0;
		//alert(remainVal);
		
	}	
	else
	{
		remainVal=attendee-leftOverStk;
		remainVal=remainVal-addedVal;
	}
	if(remainVal<0)remainVal=0;
		$('#selQty').validationEngine('showPrompt', 'Recommended quantity '+remainVal, 'pass');
		return ;
	
}
function approveTPMReq(event){
	var leftOverCnt=parseInt($("#leftOverCnt").val());
	var qtyEntered = false;
	for(i=0;i<leftOverCnt;i++)
	{
			if($("#allocQty_"+i).val() !== "" && parseFloat($("#allocQty_"+i).val()) > 0)
			{
				qtyEntered = true;
			}
			else
			{
				continue;
			}
			if(parseFloat($("#allocQty_"+i).val()) > parseFloat($("#leftOverQty_"+i).val()))
			{
				$('#allocQty_'+i).validationEngine('showPrompt', 'Allocated Qty is greater than leftover qty', '');
				return ;
			}
	}
	if(!qtyEntered)
	{
		if($(".apprMat").size() > 0)
		{
			qtyEntered =true;
		}
	}
	if(!qtyEntered)
	{
		$('#selQty').validationEngine('showPrompt', 'Allocate atleast one material', '');
		return ;
	}
	$('#saveBtn').hide();
	$('#outStore').prop('disabled', false);
	Pace.restart();
	var formdata = $('#appr-tpm-form').serialize(); 
	$.ajax({
			
		type : "POST",
		url : "/tpm/appr-tpm-post", 
		data : formdata,
		success : function(response) {
				//$('#apprTPMModal  :first-child').find('div.modal-confirm').html("TPM Request approved successfully");
				location.href="/tpm/tpmReqListSts/NEW"
		},
		error : function(ex) {
			console.log(ex);
		}
	});
	
	
}

function saveRejComment(event){
	var rejectComments=$("#rejectComments").val();
	//alert(rejectComments);
	var formdata = $('#rej-tpm-form').serialize(); 
	if($("#rej-tpm-form").validationEngine('validate'))
		{
	$.ajax({			
		type : "POST",
		url : "/tpm/rej-tpm-post", 
		data : formdata,
		success : function(response) {
				
				location.href="/tpm/tpmReqListSts/NEW"
		},
		error : function(ex) {
			console.log(ex);
		}
	});
		}
}
function uploadFile(file,fileName) {
	var startIndex = (fileName.indexOf('\\') >= 0 ? fileName.lastIndexOf('\\') : fileName.lastIndexOf('/'));
    var filenm = fileName.substring(startIndex);
    if (filenm.indexOf('\\') === 0 || filenm.indexOf('/') === 0) {
    	filenm = filenm.substring(1);
    }
    document.getElementById("attach").value = filenm;
	 $('#attachFileModal').modal('hide');
}
function uploadSingleFile(file,fileName) {
    var formData = new FormData();
  
    
   // alert(filenm);
    formData.append("file", file);
    formData.append("_csrf", $("#csrfToken").val());

    $.ajax({
            url : '/uploads/doUpload',
            type : 'POST',
            method : 'POST',
            data : formData,
            contentType : false,
            cache : false,
            processData : false,
            success : function(response) {
            	
            	 document.getElementById("attach").value = filenm;
            	 $('#attachFileModal').modal('hide');

            },
            error: function(){}    
         });
    

   
}

function funSubmit()
{
	var fileAttch = document.getElementById("fileUploadInput").files;
	var fileName=document.getElementById("fileUploadInput").value;
	//alert(fileAttch.length);
//    if(fileAttch.length === 0) {
        //document.getElementById('fileUploadError').innerHTML = "Please select a file";
        //document.getElementById('fileUploadError').style.display = "block";
  //  }
    
    uploadFile(fileAttch[0],fileName);
	
	
}
function delAttach()
{
	   document.getElementById("attach").value='';
	}
function attachModal(){
	
	
	
	
	$.ajax({
		url: "/modal/att-file",
		success: function(data){
			$("#attachFileModalHolder").html(data);
			$('#attachFileModal').modal({
				backdrop: 'static'
			});
			
			
			
		}
	});
	
}
function nullifyQty(mat,lefoverQty,leftoverid)
{
	mat.replace("#","-");
	$('#matNullify').html(mat);
	$('#qtyNullify').html(lefoverQty);
	$('#leftOverId').val(leftoverid);
	$('#commentsNullify').val("");
	$('#reasonNullify').val("");
	$('#nullifyModal').modal();
}
function funStoreChange()
{
	$('#outStore').prop('disabled', '');
	$('#selMat').select2({
        placeholder: 'Select Material',
        ajax: {
          url: '/modal/matstock-autocomp?type=text&stockLoc='+$("#outStore").val(),
          dataType: 'json',
          delay: 250,
          processResults: function (data) {
            return {
	                       results: $.map(data, function (item) {
	                          return {
	                              text: item.materialCode+"-"+item.materialDesc,
	                              id: item.materialCode+"#"+item.materialDesc+"#"+item.quantity
	                          }
	                      }) 
	                  };
          },
          cache: true
        }
   });
}
function postNullifyData(event){
	if($("#nullifyForm").validationEngine('validate'))
    {
		var formdata = $('#nullifyForm').serialize();
		var leftOverId = $('#leftOverId').val();
		 $.ajax({
			type : "POST",
			url : "/tpm/nullify-qty", 
			data : formdata,
			success : function(response) {
				$('#row_'+leftOverId).hide();
				$('#nullifyModal').modal('toggle');
				$("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
				    $("#success-alert").slideUp(500);
				});
			},
			error : function(ex) {
				console.log(ex);
			}
		});
	}
}
</script>


</div>

</body>
</html>