<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>TPM List</title>
    <style type="text/css">
    #rejectModal {
    width: 50%;
    height: 40%;
    margin-left: 35%;
    padding: 0;
}
#apprModal {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    padding: 0;
}
.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}
    </style>
</head>
<body>
<section layout:fragment="header">
    <h1>TPM List</h1>
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> TPM</a></li>
    <li class="active">List</li>
</ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-body no-padding">
        
 <form role="form"  th:object="${listSelector}" th:action="@{/tpm/tpmRequestList}" method="get" name="myForm">
 <div class="table-responsive hidden-xs">
<table class="table table-striped" style="margin-bottom: 1%;">
  <tbody><tr>  
	<td>
		<label>From Date:</label>
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right datepicker" th:field="*{fromDate}">
                </div>
                <!-- /.input group -->
	</td>
	<td>
                <label>To Date:</label>
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right datepicker" th:field="*{toDate}">
                </div>
                <!-- /.input group -->
  	</td>
  	<td>	
  		 <label for="listType">Status</label><br>	
		  <div class="input-group">
			 <select class="form-control input-sm"  th:field="*{status}">  
				<option value="" th:selected="*{status==''}">All</option>
				<option value="NEW" th:selected="*{status=='NEW'}">New</option>
				<option value="SUBMITTED" th:selected="*{status=='SUBMITTED'}">Submitted</option>
				<option value="APPROVED" th:selected="*{status=='APPROVED'}">Approved</option> 
			 </select>
		  </div>
  	</td>
 
  	<td>
  		<button type="submit" class="btn btn-primary pull-right"  style="margin-right: 5px;">Go <i class="fa fa-paper-plane"></i></button>
  	</td>
  </tr>
  
  </tbody></table>
  </div>
  </form>
                   <table id="example" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                       <thead>			
                <tr>
                    <th>ID</th>
                    <th>Distributor</th>
                    <th>City</th>
                    <th>Created BY</th>
                    <th>Meeting Date</th>
                    <th>No Of Attendance</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                    </thead>
           		<tbody>	
                <tr th:each="row : ${reqList}">
                    <td><a th:href="${'/tpm/addDetails/' + {row.id}}" th:text="${row.erhCreatedGroup+'-'+row.id}"></a></td>
                    <td th:text="${row.erhDistrubutor}"></td>
                    <td th:text="${row.erhCity}"></td>
                    <td th:text="${row.erhRequestedBy}"></td>
                    <td th:text="${#dates.format(row.erhConductedOn, 'dd/MM/yyyy')}"></td>
                    <td th:text="${row.erhNoOfAttendee}"></td>
                    <td th:text="${row.erhStatus}"></td>
                    <td>
                    	<span sec:authorize="hasRole('ROLE_REQ_CR')" th:if="${row.erhStatus == 'APPROVED'}">
							<a th:href="${'/tpm/addDetails/' + {row.id}}"
							class="btn btn-success btn-xs"> <span
								class="glyphicon glyphicon-ok">SUBMIT</span>
							</a>
						</span>
						<span sec:authorize="hasRole('ADMIN')" th:if="${row.erhStatus == 'NEW'}">
							<a href="#"
							th:data-id="${row.id}"
							onclick="javascript:openModal('approve',this.getAttribute('data-id'))"
							class="btn btn-success btn-xs"> <span
								class="glyphicon glyphicon-ok">APPROVE</span>
							</a>
							<a href="#"
							th:data-id="${row.id}"
							onclick="javascript:openModal('reject',this.getAttribute('data-id'))"
							class="btn btn-danger btn-xs"> <span
								class="glyphicon glyphicon-ok">REJECT</span>
							</a>
						</span>
						
                    </td>
                </tr>
            	</tbody>
            </table>
        </div>
    </div>
    <div th:fragment="appr-tpm" id="apprTPMModalHolder"></div>
    <div th:fragment="rej-tpm" id="rejTPMModalHolder"></div>
</div>
<div layout:fragment="scriptContent">

<script type="text/javascript">
function geThan(field, rules, i, options){
	 var a=rules[i+2];
	 if( parseFloat(field.val()) > parseFloat( jQuery("#"+a).val() )){
	   return "Quantity entered is greater than available stock"
	 }
	}
function openModal(modelType,distId){
	
	if(modelType === "approve"){
		
	
		$.ajax({
			url: "/modal/appr-tpm/" + distId,
			success: function(data){
				$("#apprTPMModalHolder").html(data);
				$('#apprTPMModal').modal({
					backdrop: 'static'
				});
				$('#tpmReqTable').hide();
				$("#addMatRow").click(function(){
						if($("#appr-tpm-form").validationEngine('validate'))
						{
							$('#tpmReqTable').show();
							$('#tpmReqTable tr:last').after('<tr><td><input type="hidden" class="apprMat" name="apprMat" value="'+$("#selMat").val()+'">'+$("#selMat").val().replace("#","-")+'</td><td><input type="hidden" name="apprQty" value="'+$("#selQty").val()+'">'+$("#selQty").val()+'</td><td><i class="fa fa-trash deleteItem"></i></td></tr>');
							$('.deleteItem').click(function(){
						    	$(this).closest("tr").remove();
						    });
						}
					});
				$('#selMat').select2({
			         placeholder: 'Select Material',
			         ajax: {
			           url: '/modal/mat-autocomp?type=text',
			           dataType: 'json',
			           delay: 250,
			           processResults: function (data) {
			             return {
	 	    	                       results: $.map(data, function (item) {
	 	    	                          return {
	 	    	                              text: item.materialCode+"-"+item.materialDesc,
	 	    	                              id: item.materialCode+"#"+item.materialDesc+"#"+item.quantity
	 	    	                          }
	 	    	                      }) 
			 	                  };
			           },
			           cache: true
			         }
			    });
			}
		});
		
	}
	else
	{
		$.ajax({
			url: "/modal/rej-tpm/" + distId,
			success: function(data){
				$("#rejTPMModalHolder").html(data);
				$('#rejTPMModal').modal({
					backdrop: 'static'
				});
				
				
			}
		});
	
		
		
		
		
	}	
}
$(document.body).on("change","#selMat",function(){
	// alert(this.value);
	var totVal=this.value;
	var stkAvaQty=totVal.split("#")[2];
	document.getElementById("stkAva").value=stkAvaQty;
	});
$(document).ready(function() {
		
	  
    $('.datepicker').datepicker({
    	 autoclose: true,
         format: 'dd/mm/yyyy'
    });
	
	$('#example').DataTable({
					
		"dom": 'T<"clear">lfrtip'
	
		}
			
	);
	 
});

function approveTPMReq(event){
	var leftOverCnt=parseInt($("#leftOverCnt").val());
	var qtyEntered = false;
	for(i=0;i<leftOverCnt;i++)
	{
			if($("#allocQty_"+i).val() !== "" && parseFloat($("#allocQty_"+i).val()) > 0)
			{
				qtyEntered = true;
			}
			else
			{
				continue;
			}
			if(parseFloat($("#allocQty_"+i).val()) > parseFloat($("#leftOverQty_"+i).val()))
			{
				$('#allocQty_'+i).validationEngine('showPrompt', 'Allocated Qty is greater than leftover qty', '');
				return ;
			}
	}
	if(!qtyEntered)
	{
		if($(".apprMat").size() > 0)
		{
			qtyEntered =true;
		}
	}
	if(!qtyEntered)
	{
		$('#selQty').validationEngine('showPrompt', 'Allocate atleast one material', '');
		return ;
	}
	var formdata = $('#appr-tpm-form').serialize(); 
	$.ajax({
			
		type : "POST",
		url : "/tpm/appr-tpm-post", 
		data : formdata,
		success : function(response) {
				//$('#apprTPMModal  :first-child').find('div.modal-confirm').html("TPM Request approved successfully");
				location.href="/tpm/tpmRequestList"
		},
		error : function(ex) {
			console.log(ex);
		}
	});
	
	
}

function saveRejComment(event){
	var rejectComments=$("#rejectComments").val();
	//alert(rejectComments);
	var formdata = $('#rej-tpm-form').serialize(); 
	if($("#rej-tpm-form").validationEngine('validate'))
		{
	$.ajax({			
		type : "POST",
		url : "/tpm/rej-tpm-post", 
		data : formdata,
		success : function(response) {
				
				location.href="/tpm/tpmRequestList"
		},
		error : function(ex) {
			console.log(ex);
		}
	});
		}
}
function uploadFile(file,fileName) {
	var startIndex = (fileName.indexOf('\\') >= 0 ? fileName.lastIndexOf('\\') : fileName.lastIndexOf('/'));
    var filenm = fileName.substring(startIndex);
    if (filenm.indexOf('\\') === 0 || filenm.indexOf('/') === 0) {
    	filenm = filenm.substring(1);
    }
    document.getElementById("attach").value = filenm;
	 $('#attachFileModal').modal('hide');
}
function uploadSingleFile(file,fileName) {
    var formData = new FormData();
  
    
   // alert(filenm);
    formData.append("file", file);
    formData.append("_csrf", $("#csrfToken").val());

    $.ajax({
            url : '/uploads/doUpload',
            type : 'POST',
            method : 'POST',
            data : formData,
            contentType : false,
            cache : false,
            processData : false,
            success : function(response) {
            	
            	 document.getElementById("attach").value = filenm;
            	 $('#attachFileModal').modal('hide');

            },
            error: function(){}    
         });
    

   
}

function funSubmit()
{
	var fileAttch = document.getElementById("fileUploadInput").files;
	var fileName=document.getElementById("fileUploadInput").value;
	//alert(fileAttch.length);
//    if(fileAttch.length === 0) {
        //document.getElementById('fileUploadError').innerHTML = "Please select a file";
        //document.getElementById('fileUploadError').style.display = "block";
  //  }
    
    uploadFile(fileAttch[0],fileName);
	
	
}
function delAttach()
{
	   document.getElementById("attach").value='';
	}
function attachModal(){
	
	
	
	
	$.ajax({
		url: "/modal/att-file",
		success: function(data){
			$("#attachFileModalHolder").html(data);
			$('#attachFileModal').modal({
				backdrop: 'static'
			});
			
			
			
		}
	});
	
}
</script>


</div>

</body>
</html>