<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout">

<head>
<meta charset="ISO-8859-1">
<title>Distributor Master</title>
<style type="text/css">
.has-error {
    border-color: #dd4b39;
    box-shadow: none

}

</style>
</head>
<body>
	<section layout:fragment="header">
		<h1>
			Distributor <small>Creation</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="@{/dashboard/index.html}"><i class="fa fa-dashboard"></i> Master data</a></li>
			<li class="active">add</li>
		</ol>
	</section>
	<div layout:fragment="content">
		<div th:if="${success!= null}" class="alert alert-success alert-dismissible">
    			<i class="icon fa fa-check"></i>
    			<span th:text="${success}" ></span>
    	
    	</div>
		<form role="form" th:action="@{/master/add}"
			th:object="${distributorDto}" th:method="post">
			<div class="box-body">
				<div class="form-group">
					<label for="distributorName">Distributor Code</label>
					 <input
						th:field="*{code}" type="text" class="form-control"
						placeholder="Enter code" th:errorclass="has-error" />
						<span th:if="${#fields.hasErrors('code')}" th:errors="*{code}"  th:errorclass="has-error">Code Error</span>
						
				</div>
				<div class="form-group">
					<label for="distributorName">Distributor Name</label>
					 <input
						th:field="*{name}" type="text" class="form-control"
						placeholder="Enter name" th:errorclass="has-error" />
						<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"  th:errorclass="has-error">Name Error</span>
						
				</div>
				<div class="form-group">
					<label for="distributorContact">Contact No.</label>
					 <input
						th:field="*{phone}" type="tel" class="form-control"
						placeholder="Enter Contact No."  th:errorclass="has-error" />
						<span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" th:errorclass="has-error">Contact Error</span>
				</div>

				<div class="form-group">
					<label for="distributorOrganisation">Business Unit Name</label>
					<input
						th:field="*{organisation}" type="text" class="form-control"
						placeholder="Enter Business Unit" th:errorclass="has-error" />
					<span th:if="${#fields.hasErrors('organisation')}" th:errors="*{organisation}" th:errorclass="has-error">Business Unit Error</span>
				</div>

				<div class="form-group">
					<label for="distributorCity">City</label> 
						<input
						th:field="*{city}" type="text" class="form-control"
						placeholder="Enter City" th:errorclass="has-error"/>
					<span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" th:errorclass="has-error">Business Unit Error</span>
				</div>
			</div>
			<!-- /.box-body -->

			<div class="box-footer">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>

	
	</div>
<!-- 	<div layout:fragment="scriptContent">
	<script th:inline="javascript">
	

	$( window ).trigger("unload",function() {

			Pace.restart();
		})
	</script>
	</div>

 -->
</body>
</html>