<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout">

<head>
<meta charset="ISO-8859-1">
<title>Material Master</title>
<style type="text/css">
.has-error {
    border-color: #dd4b39;
    box-shadow: none

}
</style>
</head>
<body>
	<section layout:fragment="header">
		<h1>
			Material <small>Creation</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="@{/dashboard/index.html}"><i class="fa fa-dashboard"></i> Material</a></li>
			
			<li class="active">add</li>
		</ol>
	</section>
	<div layout:fragment="content">
		<div th:if="${success!= null}" class="alert alert-success alert-dismissible">
    			<i class="icon fa fa-check"></i>
    			<span th:text="${success}" ></span>
    	</div>
		<form role="form" th:action="@{/master/addMaterial}"
			th:object="${materialDto}" th:method="post">
			<div class="box-body">
				<div class="form-group">
					<label for="materialName">Material</label>
					 <input
						th:field="*{materialCode}" type="text" class="form-control"
						placeholder="Enter Material Code" th:errorclass="has-error" onchange="funGetAvaQty()" required/>
						<span th:if="${#fields.hasErrors('materialCode')}" th:errors="*{materialCode}"  th:errorclass="has-error">Name Error</span>
						
				</div>
				<div class="form-group">
					<label for="materialDescription">Material Description</label>
					 <input
						th:field="*{materialDesc}" type="text" class="form-control"
						placeholder="Enter Material description"  th:errorclass="has-error" required/>
						<span th:if="${#fields.hasErrors('materialDesc')}" th:errors="*{materialDesc}" th:errorclass="has-error">Contact Error</span>
				</div>
				<div class="form-group">
					<label for="stockLoc">Store</label>
					 <select class="form-control select2" th:field="*{stockLoc}"  id="stockLoc" th:errorclass="has-error" onchange="funGetAvaQty()" required>
					    <option value="">--Select Store--</option>
					    <option th:each="store : ${storeList}" th:value="${store.locationId}" th:text="${store.locationId+'['+store.locationName+']'}"></option>
					    </select>
					    <span th:if="${#fields.hasErrors('stockLoc')}" th:errors="*{stockLoc}"  th:errorclass="has-error">Store Error</span>
				</div>

				<div class="form-group">
					<label for="materialQuantity">New Quantity</label>
					<input
						th:field="*{quantity}" type="number" class="form-control"
						placeholder="Enter Quantity"  th:errorclass="has-error" required/>
					<span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" th:errorclass="has-error">Business Unit Error</span>
				</div>
				<div class="form-group">
					<label for="materialQuantity">Existing Quantity</label>
					<input type="text" readonly name="stkAva" id="stkAva" class="form-control">
					
				</div>
				<div class="form-group">
					<label for="materialQuantity">Last Update ON</label>
					<input type="text" readonly name="updateOn" id="updateOn" class="form-control">
					
				</div>

			</div>
			<!-- /.box-body -->

			<div class="box-footer">
				<button type="submit"  class="btn btn-primary pull-right" style="margin-left:5px">Submit</button>
				<button type="button" class="btn btn-primary pull-right" style="margin-left:5px" data-toggle="modal" data-target="#uploadExcelFrag"><i class="fa fa-upload"></i>&nbsp;Upload</button>
				<a th:href="@{/master/matSamp}" class="btn btn-primary pull-right" style="margin-left:5px"><span class="fa fa-download"></span> Download Sample</a>
				<a th:href="@{/master/matDown}" class="btn btn-primary pull-right" style="margin-left:5px"><span class="fa fa-cloud-download"></span> Download All</a>
			
			</div>
		</form>

	<div th:replace="modals/uploadExcelModal.html:: uploadExcel(action='/master/matUpload',title='Excel Upload')"></div>
	</div>
</body>
<div layout:fragment="scriptContent">
<script>
function funGetAvaQty()
{
  var matCode=document.getElementById("materialCode").value;
  var storeLoc=document.getElementById("stockLoc").value;
  if(matCode == "" || storeLoc == "")
  {
	  return ;
  }
  $.ajax({
	  url:"/master/getExistingQuantity/"+matCode+"/"+storeLoc,
      data: 'json',

		success : function(response) {
			
			//alert("llavya"+JSON.stringify(response.quantity));
			
			var quan=JSON.stringify(response.quantity);
			var matDesc='';
			var modDT='';
			var modDate=response.modifiedON;
			//alert(modDate);
			if(modDate!=undefined)
			{	
				var dateMod=new Date(modDate);
				var month=dateMod.getMonth()+1;
				var day=dateMod.getDate();
				var year=dateMod.getFullYear();
				modDT=year+"-"+month+"-"+day;
			}	
			//alert(new Date(response.modifiedON)+"str"+modDT);
			if(response.materialDesc!=undefined)
			{
				matDesc=(JSON.stringify(response.materialDesc)).toString();
				matDesc=matDesc.replaceAll("\"", "");
			}
			
			if(quan==undefined)quan='0';
			var quanInt=parseInt(quan);
			document.getElementById("stkAva").value=quanInt;
			document.getElementById("materialDesc").value=matDesc;
			document.getElementById("updateOn").value=modDT;
			
		},
		error : function(ex) {
			//alert(ex);
			console.log(ex);
		}
    
  	
  });
  
  
	//alert(document.getElementById("materialCode").value);
}
</script>
</html>