<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
	<!-- Sidebar user panel -->
	<div class="user-panel">
		<div class="pull-left image">
			<img th:src="@{/resources/images/trulogo.png}" class="img-circle"
				alt="User Image" />
		</div>
		<div class="pull-left info">
			<p sec:authorize="isAuthenticated()">

				<span sec:authentication="principal.firstName"> &nbsp; </span>
				 <!-- <span sec:authentication="principal.roles"> --> 
				</span>User
			</p>
			<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
		</div>
	</div>
	<!-- search form -->
	<!-- <form action="#" method="get" class="sidebar-form">
		<div class="input-group">
			<input type="text" name="q" class="form-control"
				placeholder="Search..."> <span class="input-group-btn">
				<button type="submit" name="search" id="search-btn"
					class="btn btn-flat">
					<i class="fa fa-search"></i>
				</button>
			</span>
		</div>
	</form> -->
	<!-- /.search form -->
	<!-- sidebar menu: : style can be found in sidebar.less -->
	<ul class="sidebar-menu">
		<li  sec:authorize="hasRole('ADMIN')"><a href="#" th:href="@{/reports/monthWiseReport}"><i class="fa fa-circle-o"></i>Dashboard</a></li>
		<li  sec:authorize="hasRole('ROLE_IN_STOR')">
			<a th:href="@{/master/addMaterial}"><i class="fa fa-gift"></i> <span>Add Stock</span> 
		</a>
		</li>
		<li  sec:authorize="hasRole('ROLE_IN_STOR')">
			<a th:href="@{/master/listMaterial}"><i class="fa fa-edit"></i> <span>Update Stock</span> 
		</a>
		</li>
		<li  sec:authorize="hasRole('ROLE_OUT_STOR')">
			<a th:href="@{/reports/disprep/PENDING}"><i class="fa fa-truck"></i> <span>Pending For Dispatch</span> 
		</a>
		</li>
		<li class="treeview"sec:authorize="hasRole('ADMIN')"><a href="#">
				<i class="fa fa-share"></i> <span>Master data</span> <span
				class="pull-right-container"> <i
					class="fa fa-angle-left pull-right"></i>
			</span>
		</a>
			<ul class="treeview-menu">
				<li class="treeview"><a href="#"><i class="fa fa-circle-o"></i>
						Distributor <span class="pull-right-container"> <i
							class="fa fa-angle-left pull-right"></i>
					</span> </a>
					<ul class="treeview-menu">
						<li><a href="#" th:href="@{/master/addDis}"><i
								class="fa fa-circle-o"></i> Add Distributor</a></li>
						<li class="treeview"><a href="#" th:href="@{/master/listDis}"><i
								class="fa fa-circle-o"></i> List Distributors</a></li>
								
					</ul></li>
				<!-- End OF Distribuor li -->


				<li class="treeview"><a href="#"><i class="fa fa-circle-o"></i>
						Stock <span class="pull-right-container"> <i
							class="fa fa-angle-left pull-right"></i>
					</span> </a>
					<ul class="treeview-menu">
						<li><a href="#" th:href="@{/master/addMaterial}"><i
								class="fa fa-circle-o"></i> Add Stock</a></li>
						<li class="treeview"><a href="#"
							th:href="@{/master/listMaterial}"><i class="fa fa-circle-o"></i>
								List Stock</a></li>
					</ul></li>
					<li class="treeview"><a href="#"><i class="fa fa-circle-o"></i>
						City <span class="pull-right-container"> <i
							class="fa fa-angle-left pull-right"></i>
					</span> </a>
					<ul class="treeview-menu">
						<li><a href="#" th:href="@{/master/addCity}"><i
								class="fa fa-circle-o"></i> Add City</a></li>
						<li class="treeview"><a href="#"
							th:href="@{/master/listCity}"><i class="fa fa-circle-o"></i>
								List City</a></li>
					</ul></li>

				

				<li class="treeview" ><a
					href="#"> <i class="fa fa-circle-o"></i> <span>User
							Creation</span> <span class="pull-right-container"> <i
							class="fa fa-angle-left pull-right"></i>
					</span>
				</a>
					<ul class="treeview-menu">
						<li class=""><a href="#" th:href="@{/user/UserCreation}"><i
								class="fa fa-circle-o"></i> Add</a></li>
						<li><a href="#" th:href="@{/user/usersList}"><i
								class="fa fa-circle-o"></i> List</a></li>
					</ul></li>



				<!-- End OF Material li -->

			</ul></li>
		<!-- Master Data End-->
		<li  sec:authorize="hasAnyRole('ROLE_OUT_STOR','ADMIN')">
			<a th:href="@{/reports/stockavailforall}"><i class="fa fa-cubes"></i> <span>Available Stock</span> 
		</a>
		</li>
		<!-- TPM/TPS menu Option -->
	<li class="treeview"  sec:authorize="hasRole('ROLE_BD_MKT')"><a href="#">
				<i class="fa fa-edit"></i> <span>BD Creation</span> <span
				class="pull-right-container"> <i
					class="fa fa-angle-left pull-right"></i>
			</span>
		</a>
			<ul class="treeview-menu">
				<li class=""><a href="#" th:href="@{/bd/add}"><i
						class="fa fa-circle-o"></i> Create</a></li>
				<li><a href="#" th:href="@{/bd/bdRequestList}"><i class="fa fa-circle-o"></i> List</a></li>
			</ul></li>
		<li class="treeview" sec:authorize="hasRole('ROLE_REQ_CR')"><a href="#">
				<i class="fa fa-edit"></i> <span>TPM Request</span> <span
				class="pull-right-container"> <i
					class="fa fa-angle-left pull-right"></i>
			</span>
		</a>
			<ul class="treeview-menu">
				<li class=""><a href="#" th:href="@{/tpm/add}"><i
						class="fa fa-circle-o"></i> Create</a></li>
				<li><a href="#" th:href="@{/tpm/tpmRequestList}"><i class="fa fa-circle-o"></i> List</a></li>
			</ul></li>
		<!-- TPS/TPM End -->
		 
		<li class="treeview" sec:authorize="hasAnyRole('ROLE_ST_HEAD')"><a href="#">
				<i class="fa fa-edit"></i> <span>TPS Request</span> <span
				class="pull-right-container"> <i
					class="fa fa-angle-left pull-right"></i>
			</span>
		</a>
			<ul class="treeview-menu">
				<li class=""><a href="#" th:href="@{/tps/add}"><i
						class="fa fa-circle-o"></i> Create</a></li>
				<li><a href="#" th:href="@{/bd/add}"><i class="fa fa-circle-o"></i> Request For Additional Gifts</a></li>
				<li><a href="#" th:href="@{/tps/tpsRequestList}"><i class="fa fa-circle-o"></i> List</a></li>
			</ul>
			</li>
		
		<li  sec:authorize="hasAnyRole('ROLE_REQ_CR','ROLE_BD_MKT')">
			<a th:href="@{/reports/dispack}"><i class="fa fa-truck"></i> <span>Dispatch Acknowledge</span> 
		</a>
		</li>
		
		<li  sec:authorize="hasAnyRole('ROLE_OUT_STOR','ROLE_REQ_CR','ROLE_ST_HEAD','ROLE_BD_MKT','ADMIN')">
			<a th:href="@{/reports/requeststatus}"><i class="fa fa-bar-chart-o"></i> <span>Status Report</span> 
		</a>
		</li>
		<li sec:authorize="hasAnyRole('ROLE_REQ_CR','ROLE_ST_HEAD','ROLE_BD_MKT')"><a href="#" th:href="@{/reports/stockavailuser}"><i class="fa fa-shopping-basket"></i>Available Stock</a></li>
		<li class="treeview" sec:authorize="hasAnyRole('ROLE_ST_HEAD','ROLE_ZN_HEAD','ADMIN')"><a href="#"> 
				<i class="fa fa-list-ul"></i> <span>Team Reports</span> <span
				class="pull-right-container"> <i
					class="fa fa-angle-left pull-right"></i>
			</span>
		</a>
			<ul class="treeview-menu"> 
				<li class=""><a href="#" th:href="@{/reports/teamTPMReport}"><i class="fa fa-circle-o"></i> TPM History</a></li>
				<li sec:authorize="hasAnyRole('ROLE_ZN_HEAD','ADMIN')" class=""><a href="#" th:href="@{/reports/teamTPSReport}"><i class="fa fa-circle-o"></i> TPS History</a></li>
				<li class=""><a href="#" th:href="@{/reports/stockavailbydept}"><i class="fa fa-circle-o"></i> Stock Report</a></li>
			</ul></li>
			<!-- 	<li class="treeview" sec:authorize="hasAnyRole('ADMIN')"><a href="#">
				<i class="fa fa fa-pie-chart"></i> <span>Reports</span> <span
				class="pull-right-container"> <i
					class="fa fa-angle-left pull-right"></i>
			</span>
		</a>
			<ul class="treeview-menu">
				<li class=""><a href="#" th:href="@{/reports/requeststatus}"><i class="fa fa-circle-o"></i>Request Status</a></li>
				<li><a href="#" th:href="@{/reports/stockavailablity}"><i class="fa fa-circle-o"></i>Available Stock</a></li>
				<li><a href="#" th:href="@{/tps/tpsRequestList}"><i class="fa fa-circle-o"></i>TPS History</a></li>
				<li><a href="#" th:href="@{/tps/tpsRequestList}"><i class="fa fa-circle-o"></i>Scheduled TPS</a></li>
				<li><a href="#" th:href="@{/tpm/tpmRequestList}"><i class="fa fa-circle-o"></i>TPM History</a></li>
				<li><a href="#" th:href="@{/tpm/tpmRequestList}"><i class="fa fa-circle-o"></i>Scheduled TPM</a></li>
			</ul></li>
			 -->
		<li  sec:authorize="hasAnyRole('ROLE_REQ_CR','ROLE_ST_HEAD','ROLE_BD_MKT','ADMIN')">
			<a th:href="@{/faq/faqAll}"><i class="fa fa-question-circle"></i> <span>FAQs</span> 
		</a>
		</li>
		</ul>
</section>
<!-- /.sidebar -->