<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>FAQ</title>
    
</head>
<body>
<section layout:fragment="header">
    <h1>FAQ</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> FAQ</a></li>
        <li class="active">Create</li>
    </ol>
</section>
<div layout:fragment="content">
	
<!--     <div class="box">

          <div class="box-body" sec:authorize="hasAnyRole('ROLE_REQ_CR','ROLE_ST_HEAD','ROLE_BD_MKT')">
     <div id="faq" role="tablist" aria-multiselectable="true">
			

		</div>
     
     </div>
 --> 
     <div class="box-body" sec:authorize="hasAnyRole('ROLE_REQ_CR','ROLE_ST_HEAD','ROLE_BD_MKT')">
     <div id="faq" role="tablist" aria-multiselectable="true">
			<div class="panel panel-primary" >
			<div class="panel-heading" role="tab" id="tpmReqCrQ">
			<h5 class="panel-title">
			<a data-toggle="collapse" data-parent="#faq" href="#tpmReqCrA" aria-expanded="false" aria-controls="tpmReqCrQ">
			How to create TPM/TMM Request?
			</a>
			</h5>
			</div>
			<div id="tpmReqCrA" class="panel-collapse collapse" role="tabpanel" aria-labelledby="tpmReqCrA">
			<div class="panel-body">
			Follow the link
			TPM/TMM Request-->Create
			<div><img class="img-responsive" th:src="@{/resources/images/TPMReq.png}" alt="User Image" /></div>
			</div>
			
			</div>
			</div>
			
			<div class="panel panel-primary" sec:authorize="hasAnyRole('ROLE_REQ_CR','ROLE_ST_HEAD','ROLE_BD_MKT')">
			<div class="panel-heading" role="tab" id="tpmReqSubQ">
			<h5 class="panel-title">
			<a data-toggle="collapse" data-parent="#faq" href="#tpmReqSubA" aria-expanded="false" aria-controls="answerOne">
			How to submit TPM/TMM Report?
			</a>
			</h5>
			</div>
			<div id="tpmReqSubA" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionOne">
			<div class="panel-body">
			Click On TPM Approved link in dashboard and click on submit
			<div><img class="img-responsive" th:src="@{/resources/images/tpmReqSub.png}" alt="User Image" /></div>
			</div>
			
			</div>
			</div>			
			<div class="panel panel-primary" sec:authorize="hasAnyRole('ROLE_REQ_CR','ROLE_ST_HEAD','ROLE_BD_MKT')">
			<div class="panel-heading" role="tab" id="tpsReqCrQ">
			<h5 class="panel-title">
			<a data-toggle="collapse" data-parent="#faq" href="#tpsReqCrA" aria-expanded="false" aria-controls="answerOne">
			How to create TPS/TMS Request?
			</a>
			</h5>
			</div>
			<div id="tpsReqCrA" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionOne">
			<div class="panel-body">
			Follow the link
			TPS/TMS Request-->Create
			<div><img class="img-responsive" th:src="@{/resources/images/TPSReq.png}" alt="User Image" /></div>
			</div>
			
			</div>
			</div>
			
			<div class="panel panel-primary" sec:authorize="hasAnyRole('ROLE_REQ_CR','ROLE_ST_HEAD','ROLE_BD_MKT')">
			<div class="panel-heading" role="tab" id="tpsReqSubQ">
			<h5 class="panel-title">
			<a data-toggle="collapse" data-parent="#faq" href="#tpsReqSubA" aria-expanded="false" aria-controls="answerOne">
			How to submit TPS/TMS Report?
			</a>
			</h5>
			</div>
			<div id="tpsReqSubA" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionOne">
			<div class="panel-body">
			Click On TPS Approved link in dashboard and click on submit
			<div><img class="img-responsive" th:src="@{/resources/images/tpsReqSub.png}" alt="User Image" /></div>
			</div>
			
			</div>
			</div>				

			
			<div class="panel panel-primary" >
			<div class="panel-heading" role="tab" id="bdReqCrQ">
			<h5 class="panel-title">
			<a data-toggle="collapse" data-parent="#faq" href="#bdReqCrA" aria-expanded="false" aria-controls="#bdReqCrA">
			How to create Promotional & Product Sample Request?
			</a>
			</h5>
			</div>
			<div id="bdReqCrA" class="panel-collapse collapse" role="tabpanel" aria-labelledby="bdReqCrA">
			<div class="panel-body">
			Follow the link
			Promotional & Product Sample Request
			<div><img class="img-responsive" th:src="@{/resources/images/BDReq.png}" alt="User Image" /></div>
			</div>
			
			</div>
			</div>
			
			<div class="panel panel-primary" sec:authorize="hasAnyRole('ROLE_REQ_CR','ROLE_ST_HEAD','ROLE_BD_MKT')">
			<div class="panel-heading" role="tab" id="bdReqSubQ">
			<h5 class="panel-title">
			<a data-toggle="collapse" data-parent="#faq" href="#bdReqSubA" aria-expanded="false" aria-controls="answerOne">
			How to submit Promotional & Product Sample Report?
			</a>
			</h5>
			</div>
			<div id="bdReqSubA" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionOne">
			<div class="panel-body">
			Click On Promotional & Product Sample Report Approved link in dashboard and click on submit
			<div><img class="img-responsive" th:src="@{/resources/images/bdReqSub.png}" alt="User Image" /></div>
			</div>
			
			</div>
			</div>

			<div class="panel panel-primary">
			<div class="panel-heading" role="tab" id="ackQ">
			<h5 class="panel-title">
			<a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#ackA" aria-expanded="false" aria-controls="ackQ">
			How to Acknowledge the request?
			
			</a>
			
			</h5>
			</div>
			<div id="ackA" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ackA">
			<div class="panel-body">
			Click on Dispatch Acknowledge link.
			<div><img class="img-responsive" th:src="@{/resources/images/acknowledge.png}" alt="User Image" /></div>
			
			</div>
			</div>
			</div>


		</div>
     
     </div>

    <div class="box-body" sec:authorize="hasAnyRole('ADMIN')">
   	  <div id="faq" role="tablist" aria-multiselectable="true">
		<div class="panel panel-primary" >
			<div class="panel-heading" role="tab" id="questionOne">
				<h5 class="panel-title">
				<a data-toggle="collapse" data-parent="#faq" href="#answerOne" aria-expanded="false" aria-controls="answerOne">
				How To Add Distributors?
				</a>
				</h5>
			</div>
			<div id="answerOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionOne">
				<div class="panel-body">
				Follow the link
				<b>MasterData-->Distributor-->AddDistributor</b>
				<div><img class="img-responsive" th:src="@{/resources/images/disData.png}" alt="User Image" /></div>
				<b>To Upload Mass Data</b>
				<div><img class="img-responsive" th:src="@{/resources/images/UploadDis.png}" alt="User Image" /></div>
				</div>
			
			</div>
		</div>

			
		<div class="panel panel-primary">
			<div class="panel-heading" role="tab" id="questionTwo">
			<h5 class="panel-title">
			<a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#answerTwo" aria-expanded="false" aria-controls="answerTwo">
			How To Add Stock?
			
			</a>
			
			</h5>
			</div>
			<div id="answerTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionTwo">
			<div class="panel-body">
				Follow the link
				<b>MasterData-->Stock-->AddStock</b>
				<div><img class="img-responsive" th:src="@{/resources/images/stk.png}" alt="User Image" /></div>
				<b>To Upload Mass Data</b>
				<div><img class="img-responsive" th:src="@{/resources/images/stkUpl.png}" alt="User Image" /></div>

			
			</div>
			</div>
			</div>

			<div class="panel panel-primary">
			<div class="panel-heading" role="tab" id="questionTwo">
			<h5 class="panel-title">
			<a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#answer" aria-expanded="false" aria-controls="answer">
			How to Create User?
			
			</a>
			
			</h5>
			</div>
			<div id="answer" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionTwo">
			<div class="panel-body">
				Follow the link
				<b>MasterData-->User Creation-->Add</b>
				<div><img class="img-responsive" th:src="@{/resources/images/UserCreation.png}" alt="User Image" /></div>
			
			</div>
			</div>
			</div>


		</div>
     
     </div>
     </div>
</div>



<div layout:fragment="scriptContent">
<script type="text/javascript">

   </script>
</div>
</body>
</html>