<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>TPM</title>
    <link rel="stylesheet" th:href="@{/resources/dist/css/nomoretable.css}"/>
</head>
<body>
<section layout:fragment="header">
    <h1>TPS</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Tps</a></li>
        <li class="active">Report</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Report</h3>
            <div class="box-tools pull-right">
                <a href="/tpm/list" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
            </div>
        </div>
        <form data-toggle="validator" role="form"  th:object="${reqDto}" th:action="@{/tps/back}" method="post" name="myForm">
            <div class="box-body">
           
            
            	<input hidden="hidden" th:field="*{reqHeader.id}">
            	<input hidden="hidden" th:field="*{reqHeader.erhDistrubutor}">
            	<input hidden="hidden" th:field="*{reqHeader.erhConductedOn}" th:value="*{#dates.format(reqHeader.erhConductedOn, 'dd/MM/yyyy')}">
             
            <th:block th:each="row, itemStat1 : *{ezcRequestDealers}"> 
            		<input hidden="hidden" th:field="*{ezcRequestDealers[__${itemStat1.index}__].erdDealerName}">
            </th:block>	
            	
            <div class=row>	
            
              <label class="col-lg-2 control-label">User Name</label>
              <div class="col-lg-4 inputGroupContainer">
                 <div class="input-group"><span th:text="*{reqHeader.id}"></span></div>
              </div>
              <label class="col-lg-2 control-label">Distributor Code</label>
              <div class="col-lg-4 inputGroupContainer">
                 <div class="input-group"><span th:text="*{reqHeader.erhDistrubutor}"></span></div>
              </div>
              </div>
               <div class=row>	
              <label class="col-lg-2 control-label">City of the meet</label>
              <div class="col-lg-4 inputGroupContainer">
                 <div class="input-group"><span th:text="*{reqHeader.erhCity}"></span></div>
              </div>
              <label class="col-lg-2 control-label">Venue</label>
              <div class="col-lg-4 inputGroupContainer">
                 <div class="input-group"><span th:text="*{reqHeader.erhVenue}"></span></div>
                 
                 
              </div>
              </div>
               <div class=row>
              <label class="col-lg-2 control-label">Date of TPS</label>
              <div class="col-lg-4 inputGroupContainer">
                 <div class="input-group"><span th:text="*{#dates.format(reqHeader.erhConductedOn, 'dd/MM/yyyy')}"></span></div>
              </div>
              <label class="col-lg-2 control-label">COST INCURED (F&B and others);</label>
              <div class="col-lg-4 inputGroupContainer">
                 <div class="input-group"><i class="fa fa-rupee"></i><span th:text="*{reqHeader.erhCostIncured}"></span></div>
              </div>
           </div>
           
      <div class="table-responsive" style="margin-top:2%">
                    <table class="col-sm-12 table table-bordered table-condensed cf">
                    <thead class="cf">
                	<tr>
                		<th>Material</th>
                		<th>Approved Qty</th>
                		<th>Used Qty</th> 
                	</tr>
                	</thead>
                	<tbody>
                	 <tr th:if="*{ezReqMatList.empty}">
            			<td colspan="2"> No Data </td>
       			   </tr>
                	<tr th:each="row, itemStat : *{ezReqMatList}">
						<td data-title="Material">
							<input hidden="hidden" th:field="*{ezReqMatList[__${itemStat.index}__].matCode}">
							<input hidden="hidden" th:field="*{ezReqMatList[__${itemStat.index}__].matDesc}">
							<span th:text="*{ezReqMatList[__${itemStat.index}__].matCode}"></span>
						</td>
						<td data-title="Approved Qty">
							<input hidden="hidden" th:field="*{ezReqMatList[__${itemStat.index}__].apprQty}">
							<span th:text="*{ezReqMatList[__${itemStat.index}__].apprQty}"></span>
						</td>
						<td data-title="Used Qty" th:text="*{ezReqMatList[__${itemStat.index}__].usedQty}"></td>
                	</tr>
                	</tbody>
                </table>
                </div>
                 <div class="table-responsive" style="margin-top:2%">
                    <table class="col-sm-12 table table-bordered table-condensed" id="tpsReqTable">
                    <thead>
                	<tr>
                		<th>Retailer</th>
                		
                	</tr>
                	</thead>
                	<tbody>
                	
                	<tr th:each="row, itemStat1 : ${reqDto.ezcRequestDealers}">
                	
                	
                	
						<td data-title="retailer">
							<!-- <input type="text" class="form-control" name="retailer" th:id="${'retailer_'+itemStat1.index}" th:value="${reqDto.ezcRequestDealers[__${itemStat1.index}__].erdDealerName}"/> -->
							<span th:text="${reqDto.ezcRequestDealers[__${itemStat1.index}__].erdDealerName}"></span>
							
						</td>
						
                	</tr>
                	</tbody>
                </table>
      </div>
    
    	 <div class="table-responsive">          
                   <table class="col-sm-12 table table-bordered table-condensed">
					<thead>
						<tr>
							<th colspan='2'>Comments</th>
						</tr>
						</thead>
					<tbody>
					<tr th:each="row, itemStat : *{ezcComments}">
					<td>	<input hidden="hidden" th:field="*{ezcComments[__${itemStat.index}__].createdBy}">
						<input hidden="hidden" th:field="*{ezcComments[__${itemStat.index}__].comments}">
					<span th:text="*{ezcComments[__${itemStat.index}__].createdBy}"></span></td>
							<td th:text="*{ezcComments[__${itemStat.index}__].comments}"> </td>
						</tr>
					
					</tbody>
					</table>
    
    
                </div>
    
                
    			<div id="no-more-tables" th:if="${not #lists.isEmpty(reqDto.ezcRequestItems)}">
                    <table class="col-sm-12 table-bordered table-condensed cf">
                    <thead class="cf">
                	<tr>
						<!-- <th>Retailer/Dealer Name</th> -->
                		<th>Name Of Plumber</th>
                		<th>Contact No</th>
                		<th>D.O.B</th>
                		<th>D.O.A</th>
                		<!-- <th></th> -->
                	</tr>
                	</thead>
                	<tbody>
                	 <tr th:if="${reqDto.ezcRequestItems.empty}">
            			<td colspan="2"> No Items Added </td>
       			   </tr>
                	<tr th:each="row, itemStat : ${reqDto.ezcRequestItems}">
                	<!-- <td data-title="Retailer">
             		
		   			<select   class="form-control validate[required]" th:field="${reqDto.ezcRequestItems[__${itemStat.index}__].eriDealer}"> 
                         <option value=""> --Select Retailer-- </option>
                         <option th:each="row, itemStat1 : ${reqDto.ezcRequestDealers}" th:text="${reqDto.ezcRequestDealers[__${itemStat1.index}__].erdDealerName}" th:value="${reqDto.ezcRequestDealers[__${itemStat1.index}__].erdDealerName}"></option>
                 	 </select>
					  </td> -->
						<td data-title="Name Of Plumber"><input type="text"  disabled class="form-control validate[required]" th:field="${reqDto.ezcRequestItems[__${itemStat.index}__].eriPlumberName}" /></td>
						<td data-title="Contact No"><input type="text" disabled  class="form-control validate[required]" th:field="${reqDto.ezcRequestItems[__${itemStat.index}__].eriContact}" /></td>
						<td data-title="D.O.B">
							<div class="input-group date">
							<div class="input-group-addon">
							<i class="fa fa-calendar"></i>
							</div>
							<input type="text" disabled  class="datePickObj form-control pull-right" th:field="${reqDto.ezcRequestItems[__${itemStat.index}__].eriDob}">
							</div>
						</td>
						<td data-title="D.O.A">
							<div class="input-group date">
							<div class="input-group-addon">
							<i class="fa fa-calendar"></i>
							</div>
							<input type="text" disabled  class="datePickObj form-control pull-right" th:field="${reqDto.ezcRequestItems[__${itemStat.index}__].eriDoa}">
							</div>
						</td>
                		<!-- <td data-title="">
                			<i class="fa fa-trash deleteItem"></i>
                		</td> -->
                	</tr>
                	</tbody>
                </table>
                </div>
            </div>
            <div class="box-footer">
               
                <button sec:authorize="hasAnyRole('ADMIN','ROLE_ST_HEAD')"  type="submit"  onclick="funBack()"  class="btn btn-primary pull-right"><i class="fa fa-arrow-left"></i>&nbsp;Back</button>
                <button sec:authorize="hasAnyRole('ROLE_ZN_HEAD')" type="button"  onclick="funBackForZH()"  class="btn btn-primary pull-right"><i class="fa fa-arrow-left"></i>&nbsp;Back</button>
            </div>
        </form>
    </div>
     <div class="modal fade" id="recordModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Audio Format</h4>
              </div>
              <div class="modal-body">
	        	<span id="sampleTxt">retailername Kiran 9290303030 12th august 1980 26th august 2015 next retailername Rahim 9790303030 26th august 1986 26th august 2009</span>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div> 
</div>
<div layout:fragment="scriptContent">
<script type="text/javascript">
 $('.datePickObj').datepicker({
      autoclose: true,
      format: 'dd/mm/yyyy'
    });
    $('.deleteItem').click(function(){
    	$(this).closest("tr").remove();
    });
    function onSaveClick()
    {
		if($("#myForm").validationEngine('validate'))
		{
		
			document.myForm.submit();
		}

    } 				
    function readOutLoud() {
     	var message = $("#sampleTxt").text();
    	var speech = new SpeechSynthesisUtterance();

      // Set the text and voice attributes.
    	speech.text = message;
    	speech.volume = 1;
    	speech.rate = 1;
    	speech.pitch = 1;
      
    	window.speechSynthesis.speak(speech); 
    }
    function addItem()
    {
	 	document.myForm.action ="/tps/processSpeech";
	 	document.myForm.submit();
    }
	 function addNewItem()
	 {
		// alert(id);
		 	document.myForm.action ="/tps/addNewItem/";
		 	document.myForm.submit();
	 }
 
 try {
	  var SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
	  var recognition = new SpeechRecognition();
	}
	catch(e) {
	  console.error(e);
	  $('.no-browser-support').show();
	  $('.app').hide();
	}


	var noteTextarea = $('#note-textarea');
	var instructions = $('#recording-instructions');

	var noteContent = '';

	/*-----------------------------
	      Voice Recognition 
	------------------------------*/

	// If false, the recording will stop after a few seconds of silence.
	// When true, the silence period is longer (about 15 seconds),
	// allowing us to keep recording even when the user pauses. 
	recognition.continuous = true;

	// This block is called every time the Speech APi captures a line. 
	recognition.onresult = function(event) {

	  // event is a SpeechRecognitionEvent object.
	  // It holds all the lines we have captured so far. 
	  // We only need the current one.
	  var current = event.resultIndex;

	  // Get a transcript of what was said.
	  var transcript = event.results[current][0].transcript;

	  // Add the current transcript to the contents of our Note.
	  // There is a weird bug on mobile, where everything is repeated twice.
	  // There is no official solution so far so we have to handle an edge case.
	  var mobileRepeatBug = (current == 1 && transcript == event.results[0][0].transcript);

	  if(!mobileRepeatBug) {
	    noteContent += transcript;
	    noteTextarea.val(noteContent);
	  }
	};

	recognition.onstart = function() { 
	  instructions.text('Voice recognition activated. Try speaking into the microphone.');
	}

	recognition.onspeechend = function() {
	  instructions.text('You were quiet for a while so voice recognition turned itself off.');
	}

	recognition.onerror = function(event) {
	  if(event.error == 'no-speech') {
	    instructions.text('No speech was detected. Try again.');  
	  };
	}



	/*-----------------------------
	      App buttons and input 
	------------------------------*/

	$('#start-record-btn').on('click', function(e) {
	  if (noteContent.length) {
	    noteContent += ' ';
	  }
	  recognition.start();
	});


	$('#pause-record-btn').on('click', function(e) {
	  recognition.stop();
	  instructions.text('Voice recognition paused.');
	});

	// Sync the text inside the text area with the noteContent variable.
	noteTextarea.on('input', function() {
	  noteContent = $(this).val();
	})

 function funBack()
	{
		document.myForm.action ="/tps/tpsRequestList";
	 	document.myForm.submit();
		
		
	}
	function funBackForZH()
    {
    	document.myForm.action ="/reports/teamTPSReport";
	 	document.myForm.submit();
    }

	</script>
</div>
</body>
</html>