<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
	<style type="text/css">
.hide {
    display: none;
}
.table-container {
    height: 10em;
}
.scrolltable {
    display: flex;
    flex-flow: column;
    height: 380px;
    width: 100%;
}
.scrolltable thead {
    /* head takes the height it requires, 
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}
.scrolltable tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
.scrolltable tbody tr {
    width: 100%;
}
.scrolltable thead, table tbody tr {
    display: table;
    table-layout: fixed;
}
    td{
    	padding:0px !important;
    }
    .datepicker
    {
    	width:30%;
    }
    .input-group-addon
    {
    	padding:0px !important;
    }
    </style>

    <title>TPS</title>
    <link rel="stylesheet" th:href="@{/resources/dist/css/nomoretable.css}"/>
</head>
<body>
<section layout:fragment="header">
    <h1>TPS</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Tps</a></li>
        <li class="active">Report</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Report</h3>
            <div class="box-tools pull-right">
                <a href="/tpm/list" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
            </div>
        </div>
        <form data-toggle="validator" role="form"  th:object="${reqDto}" th:action="@{/tps/saveDetails}" method="post" name="myForm" id="myForm">
            <div class="box-body">
           
            
            	<input hidden="hidden" th:field="*{reqHeader.id}">
            	<input hidden="hidden" th:field="*{reqHeader.erhDistrubutor}">
            	<input hidden="hidden" th:value="${#lists.size(reqDto.ezcRequestDealers)}" name="retailerSize">
            	<input hidden="hidden" th:field="*{reqHeader.erhConductedOn}" th:value="*{#dates.format(reqHeader.erhConductedOn, 'dd/MM/yyyy')}">
             
            <th:block th:each="row, itemStat1 : *{ezcRequestDealers}"> 
            		<!-- <input hidden="hidden" th:field="*{ezcRequestDealers[__${itemStat1.index}__].erdDealerName}"> -->
            </th:block>	
            	
            <div class=row>	
            
              <label class="col-lg-2 control-label">User Name</label>
              <div class="col-lg-4 inputGroupContainer">
                 <div class="input-group"><span th:text="*{reqHeader.id}"></span></div>
              </div>
              <label class="col-lg-2 control-label">Distributor Code</label>
              <div class="col-lg-4 inputGroupContainer">
                 <div class="input-group"><span th:text="*{reqHeader.erhDistrubutor}"></span></div>
              </div>
              </div>
               <div class=row>	
              <label class="col-lg-2 control-label">City of the meet</label>
              <div class="col-lg-4 inputGroupContainer">
                 <div class="input-group"><input th:field="*{reqHeader.erhCity}"  placeholder="" class="form-control validate[required]"   type="text"></div>
              </div>
              <label class="col-lg-2 control-label">Venue Name</label>
              <div class="col-lg-4 inputGroupContainer">
                 <div class="input-group"><input th:field="*{reqHeader.erhVenue}"  placeholder="" class="form-control validate[required]"   type="text"></div>
                 
                 
              </div>
              </div>
               <div class=row>
              <label class="col-lg-2 control-label">Date of TPS</label>
              <div class="col-lg-4 inputGroupContainer">
                 <div class="input-group"><span th:text="*{#dates.format(reqHeader.erhConductedOn, 'dd/MM/yyyy')}"></span></div>
              </div>
              <label class="col-lg-2 control-label">COST INCURED (F&B and others);</label>
              <div class="col-lg-4 inputGroupContainer">
                 <div class="input-group"><span class="input-group-addon"><i class="fa fa-rupee"></i></span><input th:field="*{reqHeader.erhCostIncured}"  placeholder="" class="form-control validate[required]" type="number"></div>
              </div>
           </div>
           
      <div class="table-responsive" style="margin-top:2%">
                    <table class="col-sm-12 table table-bordered table-condensed">
                    <thead>
                	<tr>
                		<th>Material</th>
                		<th>Approved Qty</th>
                	</tr>
                	</thead>
                	<tbody>
                	 <tr th:if="*{ezReqMatList.empty}">
            			<td colspan="2"> No Data </td>
       			   </tr>
                	<tr th:each="row, itemStat : *{ezReqMatList}">
						<td data-title="Material">
							<input hidden="hidden" th:field="*{ezReqMatList[__${itemStat.index}__].matCode}">
							<input hidden="hidden" th:field="*{ezReqMatList[__${itemStat.index}__].matDesc}">
							<span th:text="*{ezReqMatList[__${itemStat.index}__].matCode}"></span>
						</td>
						<td data-title="Approved Qty">
							<input hidden="hidden" th:field="*{ezReqMatList[__${itemStat.index}__].apprQty}">
							<span th:text="*{ezReqMatList[__${itemStat.index}__].apprQty}"></span>
						</td>
                	</tr>
                	</tbody>
                </table>
      </div>
      <div class="table-responsive" style="margin-top:2%">
                    <table class="col-sm-12 table table-bordered table-condensed" id="tpsReqTable">
                    <thead>
                	<tr>
                		<th>Retailer</th>
                		<th>Edit&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                		<button type="button" style="background-color:#ff7043f7;" class="btn btn-primary" id="addMatRow"  ><i class="fa fa-plus"></i>&nbsp;&nbsp;ADD</button></th>
                	</tr>
                	</thead>
                	<tbody>
                	
                	<tr th:each="row, itemStat1 : ${reqDto.ezcRequestDealers}">
                	
                	
                	
						<td data-title="retailer">
							<input type="hidden" class="form-control" name="retailer" th:id="${'retailer_'+itemStat1.index}" th:value="${reqDto.ezcRequestDealers[__${itemStat1.index}__].erdDealerName}"/> 
							<input type="text" class="form-control validate[required]" th:field="${reqDto.ezcRequestDealers[__${itemStat1.index}__].erdDealerName}"/>
							
						</td>
						<td th:if="${itemStat1.index != 0}" >
							<i class="fa fa-trash deleteItem"></i>
							
						</td>
                	</tr>
                	</tbody>
                </table>
      </div>
   <!--   <div class="table-responsive">          
                   <table class="col-sm-12 table table-bordered table-condensed">
					<thead>
						<tr>
							<th colspan='2'>Comments</th>
						</tr>
						</thead>
					<tbody>
					<tr th:each="row, itemStat : *{ezcComments}">
					<td>	<input hidden="hidden" th:field="*{ezcComments[__${itemStat.index}__].createdBy}">
						<input hidden="hidden" th:field="*{ezcComments[__${itemStat.index}__].comments}">
					<span th:text="*{ezcComments[__${itemStat.index}__].createdBy}"></span></td>
							<td th:text="*{ezcComments[__${itemStat.index}__].comments}"> </td>
						</tr>
						<tr>	
						<td><span sec:authentication="principal.firstName"> &nbsp; </span></td>
							<td><textarea class="form-control validate[required]" name="comments" th:field="*{commentReqDto}"></textarea></td>
						</tr>	
							
					
					</tbody>
					</table>
    
    
                </div> --> 
                
    	<div class="input-group">
                <textarea cols=100 class="form-control" th:field="*{recordedText}" id="note-textarea" placeholder="click on speak icon to start voice recognition." rows="6"></textarea>
                
                	<span class="input-group-addon btn-group-vertical">
					  <button type="button" class="btn btn-success" id="start-record-btn"><i class="fa fa-microphone" id="start-record-btn"></i>&nbsp;&nbsp;Record</button>
					  <button type="button" class="btn btn-danger" id="pause-record-btn"><i class="fa fa-pause"></i>&nbsp;&nbsp;Pause</button>
					  <button type="button" class="btn btn-warning" onclick="javascript:readOutLoud()" data-toggle="modal" data-target="#recordModal"><i class="fa fa-play"></i>&nbsp;&nbsp;Sample</button>
					</span>
                
                </div>
                <p id="recording-instructions"></p>
                <div class="input-group" style="margin:5px;width:50%">
                <input type="number" id="rowCnt" min=1 max=1000 class="form-control">
                    <span class="input-group-btn">
                      <button type="button" onclick="addNewItem()" class="btn btn-success btn-flat btn-xs">ADD ROWS</button>
                    </span>
              	</div>
    			<div id="no-more-tables">
                    <table class="col-sm-12 table-bordered table-condensed cf scrolltable">
                    <thead class="cf">
                	<tr>
						<!-- <th>Retailer/Dealer Name</th> -->
                		<th>Name Of Plumber</th>
                		<th>Contact No</th>
                		<th>D.O.B</th>
                		<th>D.O.A</th>
                		<th></th>
                	</tr>
                	</thead>
                	<tbody>
                	 <tr th:if="${reqDto.ezcRequestItems.empty}">
            			<td colspan="2"> No Items Added </td>
       			   </tr>
                	<tr th:each="row, itemStat : ${reqDto.ezcRequestItems}">
                	<!-- <td data-title="Retailer">
             		
		   			<select   class="form-control validate[required]" th:field="${reqDto.ezcRequestItems[__${itemStat.index}__].eriDealer}"> 
                         <option value=""> --Select Retailer-- </option>
                         <option th:each="row, itemStat1 : ${reqDto.ezcRequestDealers}" th:text="${reqDto.ezcRequestDealers[__${itemStat1.index}__].erdDealerName}" th:value="${reqDto.ezcRequestDealers[__${itemStat1.index}__].erdDealerName}"></option>
                 	 </select>
					  </td> -->
						<td data-title="Name Of Plumber"><input type="text"  autocomplete="off" class="form-control validate[required]" th:field="${reqDto.ezcRequestItems[__${itemStat.index}__].eriPlumberName}" /></td>
						<td data-title="Contact No"><input type="number" autocomplete="off" onKeyPress="if(this.value.length==10) return false;" class="form-control validate[required,funcCall[dupMobChk]] contactNo" th:field="${reqDto.ezcRequestItems[__${itemStat.index}__].eriContact}" /></td>
						<td data-title="D.O.B">
							<div class="input-group date">
							<div class="input-group-addon">
							<i class="fa fa-calendar"></i>
							</div>
							<input type="text" autocomplete="off" class="datePickObj form-control pull-right validate[required,custom[dfddmmyyyy]]" th:field="${reqDto.ezcRequestItems[__${itemStat.index}__].eriDob}" data-errormessage="Enter date in DD/MM/YYYY format">
							</div>
						</td>
						<td data-title="D.O.A">
							<div class="input-group date">
							<div class="input-group-addon">
							<i class="fa fa-calendar"></i>
							</div>
							<input type="text"  autocomplete="off" class="datePickObj form-control pull-right validate[custom[dfddmmyyyy]]" th:field="${reqDto.ezcRequestItems[__${itemStat.index}__].eriDoa}"  data-errormessage="Enter date in DD/MM/YYYY format">
							</div>
						</td>
                		<td data-title=""> 
                			<i class="fa fa-trash deleteItem"></i>
                		</td>
                	</tr>
                	</tbody>
                </table>
                </div>
            </div>
            <div class="box-footer" style="padding-bottom: 5%">
                <!-- <div class="btn-group">
				  <button type="button" onclick="addNewItem()" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
				  <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
				    <span class="caret"></span>
				    <span class="sr-only">Toggle Dropdown</span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><button type="button" onclick="addNewItems(50)" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>&nbsp;Add 50 Rows</button></li>
				    <li><button type="button" onclick="addNewItems(100)" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>&nbsp;Add 100 Rows</button></li>
				    <li><a href="javascript:addNewItems(10)">Add 10 Rows</a></li>
				    <li><a href="javascript:addNewItems(10)">Add 25 Rows</a></li>
				    <li><a href="javascript:addNewItems(50)">Add 50 Rows</a></li>
				    <li><a href="javascript:addNewItems(100)">Add 100 Rows</a></li>
				    <li class="divider"></li>
				    <li><a href="#">Separated link</a></li>
				  </ul>
				</div> -->
                <button type="button" onclick="addItem()" class="btn btn-primary btn-sm"><i class="fa fa-arrow-circle-right"></i>&nbsp;Process Voice Data</button>
                <button type="button"  onclick="onSaveClick()"  class="btn btn-primary btn-sm"><i class="fa fa-save"></i>&nbsp;Save</button>
            </div>
        </form>
    </div>
     <div class="modal fade" id="recordModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Audio Format</h4>
              </div>
              <div class="modal-body">
	        	<span id="sampleTxt">Kiran 9290303030 12th august 1980 26th august 2015 next Rahim 9790303030 26th august 1986 26th august 2009</span>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div> 
</div>
<div layout:fragment="scriptContent">
<script type="text/javascript">
function dupMobChk(field, rules, i, options){
		  var matches = new Array();
		    $('.contactNo').each(function(index, item) {
		        if (field.val() == $(item).val()) {
		            matches.push(item);
		        }
		    });
		    if(matches.length > 1)
		    	return 'Mobile No is not unique';
	  
	}
 $('.datePickObj').datepicker({
      autoclose: true,
      format: 'dd/mm/yyyy'
    });
 $("#addMatRow").click(function(){
		
			/*$('#tpsReqTable tr:last').after('<tr><td><input type="text" name="retailer" /></td><td><i class="fa fa-trash deleteItem"></i></td></tr>');
			$('.deleteItem').click(function(){
		    	$(this).closest("tr").remove();
		    });*/
	var retSize=document.myForm.retailerSize.value;
		    retSize= parseInt(retSize)+1;
	 document.myForm.retailerSize.value=retSize;
	// alert(document.myForm.retailerSize.value);
	 document.myForm.action ="/tps/addRetailer";
	 document.myForm.submit();	
		
	});
    $('.deleteItem').click(function(){
    	$(this).closest("tr").remove();
    });
    function onSaveClick()
    {
		if($("#myForm").validationEngine('validate'))
		{
		
			document.myForm.submit();
		}

    } 
    
    function readOutLoud() {
     	var message = $("#sampleTxt").text();
    	var speech = new SpeechSynthesisUtterance();

      // Set the text and voice attributes.
    	
      speech.text = message;
    	speech.volume = 1;
    	speech.rate = 1;
    	speech.pitch = 1;
      
    	window.speechSynthesis.speak(speech); 
    }
    function addItem()
    {
	 	document.myForm.action ="/tps/processSpeech";
	 	document.myForm.submit();
    }
	 function addNewItem()
	 {
		// alert(id);
			var rowCnt= document.getElementById("rowCnt").value;
			debugger;
			if(rowCnt == "")
			{
				alert("Please enter row count");
				return ;
			}
			else
			{
				//document.myForm.action ="/tps/addNewItem/";
				document.myForm.action ="/tps/addNewItem/"+rowCnt;
			 	document.myForm.submit();	
			}
		 	
	 }
	 function addNewItems(count)
	 {
		// alert(id);
		 	document.myForm.action ="/tps/addNewItem/"+count;
		 	document.myForm.submit();
	 }
	 
 
 try {
	  var SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
	  var recognition = new SpeechRecognition();
	}
	catch(e) {
	  console.error(e);
	  $('.no-browser-support').show();
	  $('.app').hide();
	}


	var noteTextarea = $('#note-textarea');
	var instructions = $('#recording-instructions');

	var noteContent = '';

	/*-----------------------------
	      Voice Recognition 
	------------------------------*/

	// If false, the recording will stop after a few seconds of silence.
	// When true, the silence period is longer (about 15 seconds),
	// allowing us to keep recording even when the user pauses. 
	recognition.continuous = true;

	// This block is called every time the Speech APi captures a line. 
	recognition.onresult = function(event) {

	  // event is a SpeechRecognitionEvent object.
	  // It holds all the lines we have captured so far. 
	  // We only need the current one.
	  var current = event.resultIndex;

	  // Get a transcript of what was said.
	  var transcript = event.results[current][0].transcript;

	  // Add the current transcript to the contents of our Note.
	  // There is a weird bug on mobile, where everything is repeated twice.
	  // There is no official solution so far so we have to handle an edge case.
	  var mobileRepeatBug = (current == 1 && transcript == event.results[0][0].transcript);

	  if(!mobileRepeatBug) {
	    noteContent += transcript;
	    noteTextarea.val(noteContent);
	  }
	};

	recognition.onstart = function() { 
	  instructions.text('Voice recognition activated. Try speaking into the microphone.');
	}

	recognition.onspeechend = function() {
	  instructions.text('You were quiet for a while so voice recognition turned itself off.');
	}

	recognition.onerror = function(event) {
	  if(event.error == 'no-speech') {
	    instructions.text('No speech was detected. Try again.');  
	  };
	}



	/*-----------------------------
	      App buttons and input 
	------------------------------*/

	$('#start-record-btn').on('click', function(e) {
	  if (noteContent.length) {
	    noteContent += ' ';
	  }
	  recognition.start();
	});


	$('#pause-record-btn').on('click', function(e) {
	  recognition.stop();
	  instructions.text('Voice recognition paused.');
	});

	// Sync the text inside the text area with the noteContent variable.
	noteTextarea.on('input', function() {
	  noteContent = $(this).val();
	})

	$('input').on('paste', function(e){
        var $this = $(this);
        $.each(e.originalEvent.clipboardData.items, function(i, v){
            if (v.type === 'text/plain'){
                v.getAsString(function(text){
                    var x = $this.closest('td').index(),
                        y = $this.closest('tr').index()+1,
                        obj = {};
                    text = text.trim('\r\n');
                    $.each(text.split('\r\n'), function(i2, v2){
                        $.each(v2.split('\t'), function(i3, v3){
                            var row = y+i2, col = x+i3;
                            obj['cell-'+row+'-'+col] = v3;
                            $this.closest('table').find('tr:eq('+row+') td:eq('+col+') input').val(v3);
                        });
                    });
                    //$('div').text(JSON.stringify(obj));
                });
            }
        });
        return false;
       
    });
	function checkDate(field, rules, i, options){
		var reg = new RegExp(/^[0-9]{2}[\/]{1}[0-9]{2}[\/]{1}[0-9]{4}$/g);
		 if(!reg.test(field.val())){
		   return "Invalid date format"
		 }
		}
	</script>
</div>
</body>
</html>