<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>TPS</title>
        <style type="text/css">
    .modal-dialog {
  width: 90%;
  height: 70%;
  margin: 5%;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}
    </style>
</head>
<body>
<section layout:fragment="header">
    <h1>TPS</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> TPS</a></li>
        <li class="active">Create</li>
    </ol>
</section>
<div layout:fragment="content">
	<div th:if="${success!= null}" class="alert alert-success alert-dismissible">
   			<i class="icon fa fa-check"></i>
   			<span th:text="${success}" ></span>
   	</div>
    <div class="box">
    	     <form name="myForm" data-toggle="validator" role="form" th:object="${tpsRequestDto}" th:action="@{/tps/saveRequest}" method="post">
            <div class="box-body">
            	 <th:block th:each="row, place : *{placeList}">
                	<input type="hidden" th:field="*{placeList[__${place.index}__].city}"/>
                </th:block> 
                 <div th:class="${#fields.hasErrors('distrubutor')}? 'form-group has-error' : 'form-group'">
                    <label for="distrubutor">Distributor</label>
                      <select class="form-control select2" th:field="*{distrubutor}" id="distrubutor">
						<option selected value="">---select distributor---</option>
						<option th:each="dist : ${distList}" th:value="${dist.code}" th:text="${dist.code+'-'+dist.name}"></option>
	                </select>
	              <span class="help-block" th:if="${#fields.hasErrors('distrubutor')}" th:errors="*{distrubutor}"></span>
	                
                </div>
                <!--  <div th:class="${#fields.hasErrors('city')}? 'form-group has-error' : 'form-group'">
                    <label for="city">City</label>
                    <input type="text"  class="form-control" th:field="*{city}" id="city" />
                   <span class="help-block" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
                </div> -->
                <div th:class="${#fields.hasErrors('city')}? 'form-group has-error' : 'form-group'">
                    <label for="city">City</label>
                      <select class="form-control select2" th:field="*{city}">
						<option selected value="">---enter city---</option>
						<option th:selected="${city == place.city}" th:each="place : *{placeList}" th:value="${place.city}" th:text="${place.city}"></option>
	                </select>
                    <span class="help-block" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
                </div>
                <div th:class="${#fields.hasErrors('noOfRetailers')}? 'form-group has-error' : 'form-group'">
                    <label for="noOfRetailers">No of Retailers</label>
                    <input type="number" min=1 autocomplete="off" class="form-control" th:value="*{noOfRetailers}" th:field="*{noOfRetailers}" id="noOfRetailers"  th:onchange="loadRetailers(this)"/>
                      <span class="help-block" th:if="${#fields.hasErrors('noOfRetailers')}" th:errors="*{noOfRetailers}"></span>
                </div>
                   <div  class="form-group">
                  <label for="retailers">Retailers</label>
                   <table>
                   <tr th:each="row, itemStat : ${tpsRequestDto.dealerName}">
                  
                   	<td>
                   	 <div th:class="${#fields.hasErrors('dealerName')}? 'form-group has-error' : 'form-group'">
							<input type="text"  autocomplete="off" th:field="${tpsRequestDto.dealerName[__${itemStat.index}__].erdDealerName}" id="dealerName[__${itemStat.index}__].erdDealerName">
						 <span class="help-block" th:if="${#fields.hasErrors('dealerName')}" th:errors="*{dealerName}"></span>
						</div>	
						</td>
						 
					</tr>
					
                   </table>
                   </div>
                  
                <div th:class="${#fields.hasErrors('plannedOn')}? 'form-group has-error' : 'form-group'">
                    <label for="plannedOn">Planned On</label>
					    <div class="input-group date">
					  <div class="input-group-addon">
					    <i class="fa fa-calendar"></i>
					  </div>
					  <input type="text"  autocomplete="off"  class="form-control pull-right" th:field="*{plannedOn}" id="plannedOn">
					  <span class="help-block" th:if="${#fields.hasErrors('plannedOn')}" th:errors="*{plannedOn}"></span>
					</div>
                </div>
                <div th:class="${#fields.hasErrors('noOfAttendee')}? 'form-group has-error' : 'form-group'">
                    <label for="noOfAttendee">Attendance</label>
                    <input type="number"  class="form-control" th:field="*{noOfAttendee}" id="noOfAttendee" />
                      <span class="help-block" th:if="${#fields.hasErrors('noOfAttendee')}" th:errors="*{noOfAttendee}"></span>
                </div>
                <div class="form-group">
                    <label for="instructions">Instructions</label>
                    <textarea  class="form-control" th:field="*{instructions}" id="instructions"></textarea>
                </div>
            </div>
            <div class="box-footer">
                
                 <button type="submit" id="subBtn" class="btn btn-primary pull-right" style="margin-left:5px"><i class="fa fa-arrow-circle-right fa-lg"></i>&nbsp;Submit</button>
            </div>
        </form>
    </div>
    <div class="modal" id="pendingRegModal" th:if="${not #lists.isEmpty(reqList) || not #lists.isEmpty(matList)}">
    	<div class="modal-dialog">
            <div class="modal-content">
              <!-- <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Pending Requests For Report Submission</h4>
              </div> -->
              <div class="modal-body">
                <h4 class="modal-title">Pending Requests For Report Submission</h4>
    			<div th:replace="tps/tpslistfrag.html :: dataList(reqList=${reqList})"></div>
    			<h4>Available Stock</h4>
    			<table  class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" th:if="${!matList.empty}">
	                <thead>			
	                <tr>
	                    <th>Material</th>
	                    <th>Distributor</th>
	                    <th>Available Qty</th>
	                </tr>
                    </thead>
           		<tbody>	
                <tr th:each="row, itemStat : ${matList}" th:id="${'row_'+row[5]}">
                    <td th:text="${row[2]+'-'+row[3]}"></td>
                    <td th:text="${row[1]+'-'+row[6]}"></td>
                    <td th:text="${row[4]}"></td>
                </tr>
            	</tbody>
            </table>
    	 		</div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success pull-right" data-dismiss="modal">Continue</button>
              </div>
            </div>
          </div>
        </div>
    
</div>
<div layout:fragment="scriptContent">
<script type="text/javascript">

 $('#plannedOn').datepicker({
      autoclose: true,
      format: 'dd/mm/yyyy'
    })
    $(function () {
		$('.select2').select2()
		$("#subBtn").click(function(){
			Pace.restart();
		});
		$("#pendingRegModal").modal('show');
	 });
 function loadRetailers(val)
 {
	 document.myForm.action ="/tps/addretrows";
	 document.myForm.submit();	
 }
   </script>
</div>
</body>
</html>