<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>BD</title>
     <style type="text/css">
    #attachModal {
    width: 50%;
    height: 40%;
    margin-left: 35%;
    padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}
    </style>
    
</head>
<body>
<section layout:fragment="header">
    <h1>BD & Marketing</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> BD</a></li>
        <li class="active">Create</li>
    </ol>
</section>
<div layout:fragment="content">
	<div th:if="${success!= null}" class="alert alert-success alert-dismissible">
   			<i class="icon fa fa-check"></i>
   			<span th:text="${success}" ></span>
   	</div>
    <div class="box">
    	     <form name="myForm" id="myForm" data-toggle="validator" role="form" th:action="@{/bd/saveRequest}" th:object="${bdReqDto}" th:method="post">
            <div class="box-body">
            
            
            

                     <div th:class="${#fields.hasErrors('bdMatCode')}? 'form-group has-error' : 'form-group'">   
                    <label for="selMat">Material</label>
                    <select  id="selMat" class="select2 form-control"  style="width:100%" th:field="*{bdMatCode}">
                    
						</select>
                      <span class="help-block" th:if="${#fields.hasErrors('bdMatCode')}" th:errors="*{bdMatCode}"></span>
                </div>
                <div th:class="${#fields.hasErrors('erhDistrubutor')}? 'form-group has-error' : 'form-group'">
                    <label for="erhDistrubutor">Distributor</label>
                      <select class="form-control select2 validate[required]" th:field="*{erhDistrubutor}">
						<option selected value="">---select distributor---</option>
						<option th:selected="${erhDistrubutor == dist.code}" th:each="dist : *{distList}" th:value="${dist.code}" th:text="${dist.code+'-'+dist.name}"></option>
	                </select>
	                <span class="help-block" th:if="${#fields.hasErrors('erhDistrubutor')}" th:errors="*{erhDistrubutor}"></span>
                </div>
                <div th:class="${#fields.hasErrors('erhPurpose')}? 'form-group has-error' : 'form-group'">
                    <label for="erhPurpose">Purpose</label>
                 <select class="form-control select2 validate[required]" th:field="*{erhPurpose}"  id="purpose">
                 <option selected value="">---select Purpose---</option>
                 <option selected value="Event">Event</option>
                 <option selected value="Customer Meeting">Customer Meeting</option>
                 <option selected value="Factory Visit Guest">Factory Visit Guest</option>
                 <option selected value="Consultant Meeting">Consultant Meeting</option>
                 <option selected value="Govt Official Meeting">Govt Official Meeting</option>
                 </select> 
                 </div>
              
                 <div th:class="${#fields.hasErrors('bdQty')}? 'form-group has-error' : 'form-group'">
                    <label for="bdQty">Quantity</label>
                    <input type="number"  class="form-control validate[required,custom[number],min[1],funcCall[geThan[stkAva]]]" th:field="*{bdQty}" id="" />
                    <span class="help-block" th:if="${#fields.hasErrors('bdQty')}" th:errors="*{bdQty}"></span>
                </div>
               
               <div>
                    <label for="stkAva">Available Stock</label>
                      <input type="text" readonly name="stkAva" id="stkAva" class="form-control">
                   
                </div>
                
              
                    </div>
            <div class="box-footer">
                
                 <button type="button" id="save" class="btn btn-primary pull-right" style="margin-left:5px"><i class="fa fa-arrow-circle-right fa-lg"></i>&nbsp;Submit</button>
                 <!--  <button type="button" id="attach" class="btn btn-primary pull-right" style="margin-left:5px"><i class="fa fa-plus"></i>&nbsp;Attach</button> -->
            </div>
        </form>
    </div>
    <div th:fragment="att-file" id="attachFileModalHolder"></div>
</div>



<div layout:fragment="scriptContent">
<script type="text/javascript">
function geThan(field, rules, i, options){
	 var a=rules[i+2];
	 if( parseFloat(field.val()) > parseFloat( jQuery("#"+a).val() )){
	   return "Quantity entered is greater than available stock"
	 }
	}
$(document.body).on("change","#selMat",function(){
	// alert(this.value);
	var totVal=this.value;
	var stkAvaQty=totVal.split("#")[2];
	document.getElementById("stkAva").value=stkAvaQty;
	});
$(document).ready(function(){
	$('.select2').select2();
	$("#save").click(function(){
		Pace.restart();
		/*var leftOverCnt=parseInt($("#leftOverCnt").val());
		var qtyEntered = false;
		for(i=0;i<leftOverCnt;i++)
		{
				if($("#allocQty_"+i).val() !== "" && parseFloat($("#allocQty_"+i).val()) > 0)
				{
					qtyEntered = true;
				}
				else
				{
					continue;
				}
				if(parseFloat($("#allocQty_"+i).val()) > parseFloat($("#leftOverQty_"+i).val()))
				{
					$('#allocQty_'+i).validationEngine('showPrompt', 'Allocated Qty is greater than leftover qty', '');
					return ;
				}
		}
		
		if(!qtyEntered)
		{
			if($("#bdQty").val() !== "" && parseFloat($("#bdQty").val()) > 0)
			{
				qtyEntered =true;
			}
		}
		
		if(!qtyEntered)
		{
			$('#bdQty').validationEngine('showPrompt', 'Please provide Quantity', '');
			return ;
		}*/
		
			
			//document.myForm.submit();
		if($("#myForm").validationEngine('validate'))
		{
			$("#save").hide();
			document.myForm.submit();
		}
		
	});
	$("#attach").click(function(){
		openModal();
		
	});
	
	$('#selMat').select2({
			         placeholder: 'Select Material',
			         ajax: {
			           url: '/modal/mat-autocomp?type=text',
			           dataType: 'json',
			           delay: 250,
			           processResults: function (data) {
			             return {
	 	    	                       results: $.map(data, function (item) {
	 	    	                          return {
	 	    	                              text: item.materialCode+"-"+item.materialDesc,
	 	    	                              id: item.materialCode+"#"+item.materialDesc+"#"+item.quantity
	 	    	                              
	 	    	                          }
	 	    	                      }) 
			 	                  };
			           },
			           cache: true
			         }
			    });
	
});
		
function openModal(){
	
	
		
	
		$.ajax({
			url: "/modal/att-file",
			success: function(data){
				$("#attachFileModalHolder").html(data);
				$('#attachFileModal').modal({
					backdrop: 'static'
				});
				
				
				
			}
		});
		
	}



function uploadSingleFile(file) {
    var formData = new FormData();
  

    formData.append("file", file);
    formData.append("_csrf", $("#csrfToken").val());

    $.ajax({
            url : '/uploads/doUpload',
            type : 'POST',
            method : 'POST',
            data : formData,
            contentType : false,
            cache : false,
            processData : false,
            success : function(response) {
            	
            	 document.getElementById("fileUploadSuccess").innerHTML = "<p>File Uploaded Successfully.</p><p>DownloadUrl : </p>";
            },
            error: function(){}    
         });
    

   
}

function funSubmit()
{
	var fileAttch = document.getElementById("fileUploadInput").files;
	alert(fileAttch.length);
//    if(fileAttch.length === 0) {
        //document.getElementById('fileUploadError').innerHTML = "Please select a file";
        //document.getElementById('fileUploadError').style.display = "block";
  //  }
    alert(fileAttch[0]);
    uploadSingleFile(fileAttch[0]);
	
	
}



   </script>
</div>
</body>
</html>